e2e-tutorials/batch_state_identifier/flows/Batch State Identifier Flow.json
[
  {
    "id": "88fb2db58dbc3efd",
    "type": "tab",
    "label": "Batch State Identifier Test",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "33e7f8d74e074584",
    "type": "group",
    "z": "88fb2db58dbc3efd",
    "name": "Batch Identifier Output",
    "style": { "label": true },
    "nodes": ["ece347e4f4522e7b", "a47ae4bc6ac7f21b"],
    "x": 54,
    "y": 299,
    "w": 832,
    "h": 82
  },
  {
    "id": "cd688f5b363cb39e",
    "type": "group",
    "z": "88fb2db58dbc3efd",
    "name": "Batch Identifier Input",
    "style": { "label": true },
    "nodes": [
      "2fc67a04822d8a84",
      "8d1c8561373a10bc",
      "595be4a1c25f9fc2",
      "f26993d821ae876c",
      "12288c92412a22f9",
      "844be5f844be0233"
    ],
    "x": 54,
    "y": 39,
    "w": 792,
    "h": 202
  },
  {
    "id": "ece347e4f4522e7b",
    "type": "mqtt in",
    "z": "88fb2db58dbc3efd",
    "g": "33e7f8d74e074584",
    "name": "",
    "topic": "ie/test/prediction",
    "qos": "2",
    "datatype": "json",
    "broker": "11223344",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 340,
    "wires": [["a47ae4bc6ac7f21b"]]
  },
  {
    "id": "a47ae4bc6ac7f21b",
    "type": "debug",
    "z": "88fb2db58dbc3efd",
    "g": "33e7f8d74e074584",
    "name": "prediction.payload",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 340,
    "wires": []
  },
  {
    "id": "2fc67a04822d8a84",
    "type": "mqtt out",
    "z": "88fb2db58dbc3efd",
    "g": "cd688f5b363cb39e",
    "name": "",
    "topic": "ie/test/batch",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "11223344",
    "x": 570,
    "y": 200,
    "wires": []
  },
  {
    "id": "8d1c8561373a10bc",
    "type": "inject",
    "z": "88fb2db58dbc3efd",
    "g": "cd688f5b363cb39e",
    "name": "Batch Class 2",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"measeurement_start\":\"2019-02-08 08:58:55\",\"measeurement_end\":\"2019-02-08 09:00:04\",\"class\":\"2\",\"measurements\":[{\"ph1\":8454.22,\"ph2\":8820.9,\"ph3\":8787.72},{\"ph1\":8461.28,\"ph2\":8855.58,\"ph3\":8798.95},{\"ph1\":8512.58,\"ph2\":8890.96,\"ph3\":8841.47},{\"ph1\":8508.59,\"ph2\":8904.15,\"ph3\":8859.16},{\"ph1\":8547.57,\"ph2\":8938.64,\"ph3\":8897.53},{\"ph1\":8554.48,\"ph2\":8938.11,\"ph3\":8890.2},{\"ph1\":8581.8,\"ph2\":8983.36,\"ph3\":8930.34},{\"ph1\":8613.54,\"ph2\":9017.73,\"ph3\":8945.54},{\"ph1\":8559.87,\"ph2\":8952.89,\"ph3\":8869.64},{\"ph1\":8746.57,\"ph2\":9145.65,\"ph3\":9055.39},{\"ph1\":8701.87,\"ph2\":9102.41,\"ph3\":9035.95},{\"ph1\":8716.71,\"ph2\":9106.34,\"ph3\":9036.73},{\"ph1\":9409.13,\"ph2\":9806.2,\"ph3\":9744.13},{\"ph1\":9201.52,\"ph2\":9614.62,\"ph3\":9535.32},{\"ph1\":8987.44,\"ph2\":9401.85,\"ph3\":9322.61},{\"ph1\":8911.05,\"ph2\":9323.97,\"ph3\":9254.84},{\"ph1\":8888.86,\"ph2\":9297.66,\"ph3\":9213.5},{\"ph1\":8849.37,\"ph2\":9259.16,\"ph3\":9194.81},{\"ph1\":8833.14,\"ph2\":9237.52,\"ph3\":9194.81},{\"ph1\":8833.14,\"ph2\":9237.52,\"ph3\":9183.34},{\"ph1\":8834.11,\"ph2\":9221.12,\"ph3\":9160.3},{\"ph1\":8765.33,\"ph2\":9164.47,\"ph3\":9089.05},{\"ph1\":8732.31,\"ph2\":9137.43,\"ph3\":9082.32},{\"ph1\":8725.58,\"ph2\":9115.75,\"ph3\":9053.39},{\"ph1\":8744.28,\"ph2\":9119.74,\"ph3\":9067.92},{\"ph1\":7330.46,\"ph2\":7245.51,\"ph3\":7422.09},{\"ph1\":4846.54,\"ph2\":4818.45,\"ph3\":4855.33},{\"ph1\":5138.36,\"ph2\":5127.99,\"ph3\":4855.33},{\"ph1\":5138.36,\"ph2\":5127.99,\"ph3\":5214.38},{\"ph1\":6136.79,\"ph2\":6328.71,\"ph3\":6404.42},{\"ph1\":6689.23,\"ph2\":7060.39,\"ph3\":6980.45},{\"ph1\":6689.23,\"ph2\":7060.39,\"ph3\":6980.45},{\"ph1\":4571.79,\"ph2\":4546.44,\"ph3\":4629.56},{\"ph1\":6917.43,\"ph2\":7157.6,\"ph3\":4629.56},{\"ph1\":6917.43,\"ph2\":7157.6,\"ph3\":7270.43},{\"ph1\":8316.52,\"ph2\":8749.8,\"ph3\":8701.43},{\"ph1\":8307.86,\"ph2\":8720.8,\"ph3\":8701.43},{\"ph1\":8307.86,\"ph2\":8720.8,\"ph3\":8662.88},{\"ph1\":8323.29,\"ph2\":8753.69,\"ph3\":8688.04},{\"ph1\":8361,\"ph2\":8782,\"ph3\":8700.78},{\"ph1\":8329.85,\"ph2\":8762.36,\"ph3\":8688.7},{\"ph1\":8285.46,\"ph2\":8719.14,\"ph3\":8646.06},{\"ph1\":8285.23,\"ph2\":8731.35,\"ph3\":8644.79},{\"ph1\":8306.33,\"ph2\":8734.87,\"ph3\":8651.54},{\"ph1\":8306.33,\"ph2\":8734.87,\"ph3\":8651.54},{\"ph1\":8308.23,\"ph2\":8751.17,\"ph3\":8663.43},{\"ph1\":8310.02,\"ph2\":8765.2,\"ph3\":8664.95},{\"ph1\":8362.69,\"ph2\":8781.01,\"ph3\":8707.56},{\"ph1\":8363.55,\"ph2\":8773.04,\"ph3\":8706.15},{\"ph1\":8379.63,\"ph2\":8809.67,\"ph3\":8720.05},{\"ph1\":8365.45,\"ph2\":8803.73,\"ph3\":8720.05},{\"ph1\":8365.45,\"ph2\":8803.73,\"ph3\":8695.46},{\"ph1\":8409.61,\"ph2\":8828.11,\"ph3\":8764.56},{\"ph1\":8436.41,\"ph2\":8847.15,\"ph3\":8764.56},{\"ph1\":8436.41,\"ph2\":8847.15,\"ph3\":8780.42},{\"ph1\":8431.94,\"ph2\":8854.34,\"ph3\":8789.76},{\"ph1\":8424.95,\"ph2\":8819.47,\"ph3\":8789.76},{\"ph1\":8424.95,\"ph2\":8819.47,\"ph3\":8774.04},{\"ph1\":8419,\"ph2\":8841.96,\"ph3\":8781.47},{\"ph1\":8372.28,\"ph2\":8762.94,\"ph3\":8707.71},{\"ph1\":8393.87,\"ph2\":8801.09,\"ph3\":8747.7},{\"ph1\":8416.83,\"ph2\":8804.72,\"ph3\":8770.04},{\"ph1\":8396.74,\"ph2\":8820.17,\"ph3\":8770.69},{\"ph1\":8438.54,\"ph2\":8820.17,\"ph3\":8770.69},{\"ph1\":8438.54,\"ph2\":8818.07,\"ph3\":8774.34},{\"ph1\":8438.54,\"ph2\":8818.07,\"ph3\":8774.34},{\"ph1\":8422.41,\"ph2\":8832.79,\"ph3\":8780.48},{\"ph1\":8316.34,\"ph2\":8706.2,\"ph3\":8642.27},{\"ph1\":8294.98,\"ph2\":8704.5,\"ph3\":8636.19},{\"ph1\":8288.71,\"ph2\":8688.82,\"ph3\":8636.19},{\"ph1\":8288.71,\"ph2\":8688.82,\"ph3\":8624.35},{\"ph1\":8270.13,\"ph2\":8664.93,\"ph3\":8621.15},{\"ph1\":8246.44,\"ph2\":8668.59,\"ph3\":8621.15},{\"ph1\":8246.44,\"ph2\":8668.59,\"ph3\":8617.74},{\"ph1\":8248.33,\"ph2\":8666.91,\"ph3\":8624.66},{\"ph1\":8284.74,\"ph2\":8691.68,\"ph3\":8649.57},{\"ph1\":8283.43,\"ph2\":8717.01,\"ph3\":8671.4},{\"ph1\":8267.58,\"ph2\":8675.06,\"ph3\":8639.61},{\"ph1\":8267.58,\"ph2\":8675.06,\"ph3\":8639.61},{\"ph1\":8263.02,\"ph2\":8666.49,\"ph3\":8620.07},{\"ph1\":8277.76,\"ph2\":8677.32,\"ph3\":8620.07},{\"ph1\":8277.76,\"ph2\":8677.32,\"ph3\":8634.22},{\"ph1\":8279.58,\"ph2\":8704.13,\"ph3\":8650.61},{\"ph1\":7375.9,\"ph2\":7716.87,\"ph3\":8650.61},{\"ph1\":7375.9,\"ph2\":7716.87,\"ph3\":7659.39},{\"ph1\":4988.4,\"ph2\":4963.98,\"ph3\":5058.17},{\"ph1\":5987.17,\"ph2\":6173.03,\"ph3\":6227.35},{\"ph1\":6634.36,\"ph2\":6998.15,\"ph3\":6939.09},{\"ph1\":6115.24,\"ph2\":6326.35,\"ph3\":6293.11},{\"ph1\":6868.44,\"ph2\":7072.67,\"ph3\":7065.45},{\"ph1\":8439.39,\"ph2\":8830.08,\"ph3\":7065.45},{\"ph1\":8439.39,\"ph2\":8830.08,\"ph3\":8799.58},{\"ph1\":8435.44,\"ph2\":8840.16,\"ph3\":8803.66},{\"ph1\":8446.06,\"ph2\":8820.02,\"ph3\":8775.71},{\"ph1\":8440.17,\"ph2\":8826.36,\"ph3\":8773.66},{\"ph1\":8464.76,\"ph2\":8850.97,\"ph3\":8773.66},{\"ph1\":8464.76,\"ph2\":8850.97,\"ph3\":8804.7},{\"ph1\":8465.79,\"ph2\":8850.35,\"ph3\":8814.32},{\"ph1\":8448.31,\"ph2\":8824.92,\"ph3\":8814.32},{\"ph1\":8448.31,\"ph2\":8824.92,\"ph3\":8800.4},{\"ph1\":8437.93,\"ph2\":8820.31,\"ph3\":8785.91},{\"ph1\":8522.79,\"ph2\":8889.86,\"ph3\":8869},{\"ph1\":8551.11,\"ph2\":8922.31,\"ph3\":8906.7},{\"ph1\":8572.62,\"ph2\":8914.79,\"ph3\":8925.75},{\"ph1\":8588.98,\"ph2\":8959.99,\"ph3\":8956.84},{\"ph1\":8626.56,\"ph2\":8984.67,\"ph3\":8956.84},{\"ph1\":8626.56,\"ph2\":8984.67,\"ph3\":8982.89},{\"ph1\":8655.52,\"ph2\":8990.72,\"ph3\":8993.49},{\"ph1\":8687.79,\"ph2\":9024.67,\"ph3\":8993.49},{\"ph1\":8687.79,\"ph2\":9024.67,\"ph3\":9048.23},{\"ph1\":8731.46,\"ph2\":9077.23,\"ph3\":9085.16},{\"ph1\":8770.05,\"ph2\":9106.92,\"ph3\":9134.77},{\"ph1\":8774.92,\"ph2\":9093.29,\"ph3\":9133.16},{\"ph1\":9526.49,\"ph2\":9972.08,\"ph3\":9971.62},{\"ph1\":9176.53,\"ph2\":9636.16,\"ph3\":9625.19},{\"ph1\":8936.15,\"ph2\":9334.47,\"ph3\":9625.19},{\"ph1\":8936.15,\"ph2\":9334.47,\"ph3\":9366.72},{\"ph1\":8895.05,\"ph2\":9326.38,\"ph3\":9333.15},{\"ph1\":8861.91,\"ph2\":9273.59,\"ph3\":9285.89},{\"ph1\":8851.83,\"ph2\":9264.01,\"ph3\":9262.7},{\"ph1\":8835.11,\"ph2\":9238.03,\"ph3\":9262.7},{\"ph1\":8835.11,\"ph2\":9238.03,\"ph3\":9229.81},{\"ph1\":8812.12,\"ph2\":9213.93,\"ph3\":9213.25},{\"ph1\":8780.91,\"ph2\":9190.48,\"ph3\":9172.05},{\"ph1\":8791.31,\"ph2\":9208.56,\"ph3\":9174.58},{\"ph1\":8761.63,\"ph2\":9152.73,\"ph3\":9129.29},{\"ph1\":8710.78,\"ph2\":9120.02,\"ph3\":9100.67},{\"ph1\":8646.36,\"ph2\":9052.27,\"ph3\":9021.18},{\"ph1\":8625.78,\"ph2\":9044,\"ph3\":9031.59},{\"ph1\":8566.8,\"ph2\":8998.46,\"ph3\":8973.82},{\"ph1\":8486.94,\"ph2\":8892.43,\"ph3\":8865.85},{\"ph1\":8448.41,\"ph2\":8873.86,\"ph3\":8801.2},{\"ph1\":8454.88,\"ph2\":8884.85,\"ph3\":8818.02},{\"ph1\":5378.38,\"ph2\":5459.31,\"ph3\":5473.18},{\"ph1\":4820.5,\"ph2\":4783.37,\"ph3\":4858.68},{\"ph1\":6445.15,\"ph2\":6781.5,\"ph3\":6695.64},{\"ph1\":6612.11,\"ph2\":6929.94,\"ph3\":6855.06},{\"ph1\":4561.8,\"ph2\":4590.92,\"ph3\":4632.58},{\"ph1\":5541.69,\"ph2\":5570.54,\"ph3\":5642.49},{\"ph1\":8306.52,\"ph2\":8720.45,\"ph3\":8622},{\"ph1\":8285.15,\"ph2\":8685.05,\"ph3\":8611.95},{\"ph1\":8272.51,\"ph2\":8676.47,\"ph3\":8604.21},{\"ph1\":8287.09,\"ph2\":8697.61,\"ph3\":8619.05},{\"ph1\":8315.29,\"ph2\":8720.64,\"ph3\":8638.88},{\"ph1\":8336.21,\"ph2\":8744.48,\"ph3\":8676.46},{\"ph1\":8320.87,\"ph2\":8735.22,\"ph3\":8670.3},{\"ph1\":8296.03,\"ph2\":8716.63,\"ph3\":8643.36},{\"ph1\":8290.78,\"ph2\":8702.5,\"ph3\":8651.38},{\"ph1\":8393.52,\"ph2\":8809.6,\"ph3\":8776},{\"ph1\":8373.29,\"ph2\":8795.25,\"ph3\":8749.44},{\"ph1\":8398.38,\"ph2\":8791.16,\"ph3\":8751.54},{\"ph1\":8377.82,\"ph2\":8788.78,\"ph3\":8723.48},{\"ph1\":8406.52,\"ph2\":8810.73,\"ph3\":8771.56},{\"ph1\":8422.46,\"ph2\":8829.93,\"ph3\":8789.35},{\"ph1\":8450.01,\"ph2\":8855.34,\"ph3\":8800.97},{\"ph1\":8482.16,\"ph2\":8884.58,\"ph3\":8852.29},{\"ph1\":8440.71,\"ph2\":8852.4,\"ph3\":8800.97},{\"ph1\":8470.35,\"ph2\":8849.26,\"ph3\":8820.25},{\"ph1\":8487.69,\"ph2\":8875.19,\"ph3\":8841.06},{\"ph1\":8405.67,\"ph2\":8833.23,\"ph3\":8794.5},{\"ph1\":8386.03,\"ph2\":8791.87,\"ph3\":8754.63},{\"ph1\":8378.33,\"ph2\":8809.29,\"ph3\":8772.17},{\"ph1\":8381.33,\"ph2\":8799.38,\"ph3\":8744.18},{\"ph1\":8410.46,\"ph2\":8847.85,\"ph3\":8799.15},{\"ph1\":8418.97,\"ph2\":8843.17,\"ph3\":8805},{\"ph1\":8422.48,\"ph2\":8840.1,\"ph3\":8785},{\"ph1\":8427.09,\"ph2\":8844.39,\"ph3\":8787.44},{\"ph1\":8404.42,\"ph2\":8825.87,\"ph3\":8768.07},{\"ph1\":8397.95,\"ph2\":8825.23,\"ph3\":8767.91},{\"ph1\":8409.3,\"ph2\":8837.12,\"ph3\":8793.64},{\"ph1\":8415.94,\"ph2\":8833,\"ph3\":8782.12},{\"ph1\":8403.45,\"ph2\":8830.95,\"ph3\":8760.2},{\"ph1\":8423.89,\"ph2\":8833.1,\"ph3\":8774.24},{\"ph1\":8406.48,\"ph2\":8809.25,\"ph3\":8760.94},{\"ph1\":8412.97,\"ph2\":8836.67,\"ph3\":8790.44},{\"ph1\":8439.25,\"ph2\":8864.46,\"ph3\":8817.94},{\"ph1\":5556.32,\"ph2\":5534.65,\"ph3\":5677.92},{\"ph1\":4916.13,\"ph2\":4854.51,\"ph3\":4939.47},{\"ph1\":4762.43,\"ph2\":4729.04,\"ph3\":4817.68},{\"ph1\":6660.49,\"ph2\":7035.79,\"ph3\":6947.49},{\"ph1\":6839.64,\"ph2\":7191.25,\"ph3\":7111.38},{\"ph1\":4730.28,\"ph2\":4726.62,\"ph3\":4812.2},{\"ph1\":5326.29,\"ph2\":5375.81,\"ph3\":5440.18},{\"ph1\":8409.22,\"ph2\":8822.72,\"ph3\":8777.61},{\"ph1\":8419.89,\"ph2\":8861.05,\"ph3\":8795.34},{\"ph1\":8417.11,\"ph2\":8866.06,\"ph3\":8809.07},{\"ph1\":8426.23,\"ph2\":8859.44,\"ph3\":8774.79},{\"ph1\":8430.43,\"ph2\":8885.73,\"ph3\":8803.49},{\"ph1\":8431.04,\"ph2\":8886.1,\"ph3\":8812.45},{\"ph1\":8477.43,\"ph2\":8928.16,\"ph3\":8832.82},{\"ph1\":8538.37,\"ph2\":8971.3,\"ph3\":8882.58},{\"ph1\":8558.5,\"ph2\":8997.43,\"ph3\":8949.81},{\"ph1\":8579.41,\"ph2\":9020.51,\"ph3\":8953.53},{\"ph1\":8600.74,\"ph2\":9028.66,\"ph3\":8950.97},{\"ph1\":8637.9,\"ph2\":9082.05,\"ph3\":8977.01},{\"ph1\":8637.78,\"ph2\":9064.73,\"ph3\":9012.63},{\"ph1\":8680.93,\"ph2\":9104.06,\"ph3\":9040.94},{\"ph1\":8722.35,\"ph2\":9177.03,\"ph3\":9103.63},{\"ph1\":8770.64,\"ph2\":9185.25,\"ph3\":9149.54},{\"ph1\":9344.51,\"ph2\":9807.09,\"ph3\":9737.9},{\"ph1\":9221.94,\"ph2\":9681.11,\"ph3\":9595.21},{\"ph1\":8946.13,\"ph2\":9415.74,\"ph3\":9314.26},{\"ph1\":8914.78,\"ph2\":9370.79,\"ph3\":9277.11},{\"ph1\":8861.57,\"ph2\":9309.6,\"ph3\":9216.5},{\"ph1\":8854.9,\"ph2\":9287.5,\"ph3\":9209},{\"ph1\":8826.75,\"ph2\":9275.33,\"ph3\":9188.52},{\"ph1\":8784.73,\"ph2\":9238.49,\"ph3\":9155.14},{\"ph1\":8790.88,\"ph2\":9224.36,\"ph3\":9134.1},{\"ph1\":8771.85,\"ph2\":9213.9,\"ph3\":9101.76},{\"ph1\":8726.35,\"ph2\":9180.74,\"ph3\":9065.42},{\"ph1\":8721.17,\"ph2\":9159.72,\"ph3\":9073.52},{\"ph1\":8712.43,\"ph2\":9148.21,\"ph3\":9043.17},{\"ph1\":8603.69,\"ph2\":9031.57,\"ph3\":8971.13},{\"ph1\":8624.24,\"ph2\":9054.45,\"ph3\":8967.36},{\"ph1\":8576.56,\"ph2\":9013.89,\"ph3\":8947.44},{\"ph1\":8552.46,\"ph2\":8996.87,\"ph3\":8919.9},{\"ph1\":8542.92,\"ph2\":8980.02,\"ph3\":8893.27},{\"ph1\":8544.58,\"ph2\":8979.49,\"ph3\":8904.57},{\"ph1\":8523.01,\"ph2\":8958.71,\"ph3\":8899.66},{\"ph1\":8289.74,\"ph2\":8726.04,\"ph3\":8648.02},{\"ph1\":6045.52,\"ph2\":6065.52,\"ph3\":6102.59},{\"ph1\":4644.59,\"ph2\":4589.81,\"ph3\":4695.27},{\"ph1\":5119.46,\"ph2\":5099.22,\"ph3\":5203.81},{\"ph1\":6639.6,\"ph2\":6990.2,\"ph3\":6916.66},{\"ph1\":4845.72,\"ph2\":4835.08,\"ph3\":4905.93},{\"ph1\":5077.46,\"ph2\":5126.27,\"ph3\":5233.01},{\"ph1\":7898.63,\"ph2\":8290.67,\"ph3\":8262.58},{\"ph1\":8253.66,\"ph2\":8654.31,\"ph3\":8583.99},{\"ph1\":8273.08,\"ph2\":8684.96,\"ph3\":8607.94},{\"ph1\":8246.1,\"ph2\":8668.34,\"ph3\":8584.46},{\"ph1\":8244.57,\"ph2\":8682.15,\"ph3\":8599.42},{\"ph1\":8352.28,\"ph2\":8760.64,\"ph3\":8663.15},{\"ph1\":8358.33,\"ph2\":8778.28,\"ph3\":8713.88},{\"ph1\":8341.17,\"ph2\":8746.97,\"ph3\":8710.56},{\"ph1\":8343.14,\"ph2\":8758.68,\"ph3\":8715.72},{\"ph1\":8368.8,\"ph2\":8777.21,\"ph3\":8708.91},{\"ph1\":5793.74,\"ph2\":5882.72,\"ph3\":5886.88},{\"ph1\":4913.15,\"ph2\":4850.48,\"ph3\":4961.45},{\"ph1\":5754.74,\"ph2\":5910.43,\"ph3\":5946.08},{\"ph1\":6666.47,\"ph2\":7001.07,\"ph3\":6942.88},{\"ph1\":4681.83,\"ph2\":4619.95,\"ph3\":4696.94},{\"ph1\":6850.19,\"ph2\":7029.94,\"ph3\":7048.5},{\"ph1\":8413.73,\"ph2\":8810.06,\"ph3\":8742.8},{\"ph1\":8350.49,\"ph2\":8766.27,\"ph3\":8686.81},{\"ph1\":8408.4,\"ph2\":8812.78,\"ph3\":8739.95},{\"ph1\":8421.18,\"ph2\":8823.84,\"ph3\":8751},{\"ph1\":8418.31,\"ph2\":8841.43,\"ph3\":8771.6},{\"ph1\":8400.72,\"ph2\":8830.1,\"ph3\":8736.06},{\"ph1\":8328.95,\"ph2\":8729.09,\"ph3\":8660.75},{\"ph1\":8315.02,\"ph2\":8704.82,\"ph3\":8630.03},{\"ph1\":8274.02,\"ph2\":8692.32,\"ph3\":8624.05},{\"ph1\":8273.99,\"ph2\":8677.21,\"ph3\":8587.46},{\"ph1\":8298.05,\"ph2\":8710.64,\"ph3\":8634.68},{\"ph1\":8292.74,\"ph2\":8687.47,\"ph3\":8627.52},{\"ph1\":8251.61,\"ph2\":8682.14,\"ph3\":8603.61},{\"ph1\":8293.54,\"ph2\":8703.79,\"ph3\":8611.36},{\"ph1\":8285.36,\"ph2\":8707.77,\"ph3\":8621.9},{\"ph1\":8289,\"ph2\":8691.91,\"ph3\":8625.19},{\"ph1\":8284.7,\"ph2\":8682.38,\"ph3\":8606.9},{\"ph1\":8307.05,\"ph2\":8699.37,\"ph3\":8632.63},{\"ph1\":8304.36,\"ph2\":8702.7,\"ph3\":8627.86},{\"ph1\":8266.98,\"ph2\":8691.59,\"ph3\":8601.34},{\"ph1\":8297.63,\"ph2\":8673.89,\"ph3\":8598.4},{\"ph1\":8312.42,\"ph2\":8715.5,\"ph3\":8649.47},{\"ph1\":8280.16,\"ph2\":8692.3,\"ph3\":8621.53},{\"ph1\":8303.27,\"ph2\":8695.49,\"ph3\":8624.81},{\"ph1\":8305.17,\"ph2\":8704.37,\"ph3\":8648.21},{\"ph1\":7416.51,\"ph2\":7646.69,\"ph3\":7667.87},{\"ph1\":5015.46,\"ph2\":4975.49,\"ph3\":5111.82},{\"ph1\":6022.87,\"ph2\":6160.62,\"ph3\":6218.47},{\"ph1\":6696.24,\"ph2\":7023.5,\"ph3\":6974.36},{\"ph1\":4659.02,\"ph2\":4612.36,\"ph3\":4705.01},{\"ph1\":6821.59,\"ph2\":7063.55,\"ph3\":7110.06},{\"ph1\":8464.96,\"ph2\":8896.72,\"ph3\":8836.78},{\"ph1\":8545.82,\"ph2\":8949.84,\"ph3\":8893.09},{\"ph1\":8565.87,\"ph2\":8972.64,\"ph3\":8920.15},{\"ph1\":8574.57,\"ph2\":8977.78,\"ph3\":8942.49},{\"ph1\":8609.56,\"ph2\":9009.34,\"ph3\":8962.39},{\"ph1\":8625.48,\"ph2\":9033.85,\"ph3\":8960.26},{\"ph1\":8649.65,\"ph2\":9032.93,\"ph3\":9003.17},{\"ph1\":8674.59,\"ph2\":9077.49,\"ph3\":9043.49},{\"ph1\":8717.18,\"ph2\":9121.42,\"ph3\":9073.81},{\"ph1\":8744.43,\"ph2\":9162.06,\"ph3\":9113.71},{\"ph1\":9542.2,\"ph2\":9999.77,\"ph3\":9962.73},{\"ph1\":9208.23,\"ph2\":9633.01,\"ph3\":9586.38},{\"ph1\":9062.72,\"ph2\":9478.02,\"ph3\":9437.09},{\"ph1\":9024.09,\"ph2\":9440.87,\"ph3\":9397.69},{\"ph1\":8908.17,\"ph2\":9325.14,\"ph3\":9294.65},{\"ph1\":8873.16,\"ph2\":9302.05,\"ph3\":9259.27},{\"ph1\":8860.81,\"ph2\":9270.91,\"ph3\":9224.35},{\"ph1\":8830.31,\"ph2\":9258.43,\"ph3\":9194.34},{\"ph1\":8812.32,\"ph2\":9228.36,\"ph3\":9193.22},{\"ph1\":8775.03,\"ph2\":9208.43,\"ph3\":9154.85},{\"ph1\":8767.23,\"ph2\":9210.65,\"ph3\":9132.64},{\"ph1\":8751.9,\"ph2\":9199.34,\"ph3\":9136.14},{\"ph1\":8658.34,\"ph2\":9122.75,\"ph3\":9041.6},{\"ph1\":8676.31,\"ph2\":9102.8,\"ph3\":9022.74},{\"ph1\":8670.86,\"ph2\":9099.74,\"ph3\":9017.91},{\"ph1\":8574.94,\"ph2\":9008.89,\"ph3\":8910.24},{\"ph1\":8474.06,\"ph2\":8900.39,\"ph3\":8799.05}]}",
    "payloadType": "json",
    "x": 170,
    "y": 200,
    "wires": [["844be5f844be0233"]]
  },
  {
    "id": "595be4a1c25f9fc2",
    "type": "inject",
    "z": "88fb2db58dbc3efd",
    "g": "cd688f5b363cb39e",
    "name": "Batch Class 0",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"measeurement_start\":\"2019-02-08 08:48:56\",\"measeurement_end\":\"2019-02-08 08:50:11\",\"class\":\"0\",\"measurements\":[{\"ph1\":2831.4,\"ph2\":2700.77,\"ph3\":2723.44},{\"ph1\":2825.4,\"ph2\":2688.06,\"ph3\":2708.36},{\"ph1\":2817.04,\"ph2\":2689.99,\"ph3\":2708.49},{\"ph1\":2843.27,\"ph2\":2707.89,\"ph3\":2731.16},{\"ph1\":2833.48,\"ph2\":2718.17,\"ph3\":2726.05},{\"ph1\":2809.85,\"ph2\":2684.6,\"ph3\":2695.67},{\"ph1\":3029.52,\"ph2\":2954.39,\"ph3\":2935.8},{\"ph1\":3003.94,\"ph2\":2908.19,\"ph3\":2926.47},{\"ph1\":2972.51,\"ph2\":2879.19,\"ph3\":2869.75},{\"ph1\":2985.01,\"ph2\":2877.21,\"ph3\":2886.28},{\"ph1\":3862.82,\"ph2\":3730.85,\"ph3\":3836.44},{\"ph1\":3021.72,\"ph2\":2918.02,\"ph3\":2924.96},{\"ph1\":3004.13,\"ph2\":2908.68,\"ph3\":2922.71},{\"ph1\":3009.08,\"ph2\":2906.2,\"ph3\":2915.26},{\"ph1\":2990.69,\"ph2\":2884.39,\"ph3\":2895.14},{\"ph1\":2982.14,\"ph2\":2890.04,\"ph3\":2885.93},{\"ph1\":3013.19,\"ph2\":2914.19,\"ph3\":2902.62},{\"ph1\":2986.79,\"ph2\":2897.12,\"ph3\":2922.72},{\"ph1\":2951.08,\"ph2\":2874.91,\"ph3\":2897.77},{\"ph1\":2964.71,\"ph2\":2893.59,\"ph3\":2896.51},{\"ph1\":3000.63,\"ph2\":2927.69,\"ph3\":2931.76},{\"ph1\":2940.91,\"ph2\":2871.6,\"ph3\":2875.47},{\"ph1\":2954.88,\"ph2\":2884.25,\"ph3\":2888.17},{\"ph1\":2979.81,\"ph2\":2914.43,\"ph3\":2916.12},{\"ph1\":2970.6,\"ph2\":2900.14,\"ph3\":2897.1},{\"ph1\":2969.35,\"ph2\":2901.45,\"ph3\":2915.02},{\"ph1\":3005.47,\"ph2\":2924.27,\"ph3\":2937.4},{\"ph1\":2979.39,\"ph2\":2899.88,\"ph3\":2908.19},{\"ph1\":2967.57,\"ph2\":2880.65,\"ph3\":2905.22},{\"ph1\":3006.04,\"ph2\":2924.73,\"ph3\":2935.38},{\"ph1\":3022.58,\"ph2\":2948.02,\"ph3\":2966.21},{\"ph1\":2985.89,\"ph2\":2917.91,\"ph3\":2938.01},{\"ph1\":2977.23,\"ph2\":2886.37,\"ph3\":2912.28},{\"ph1\":3013.78,\"ph2\":2913.85,\"ph3\":2949.89},{\"ph1\":2982.42,\"ph2\":2892.68,\"ph3\":2937.53},{\"ph1\":3015.54,\"ph2\":2936.12,\"ph3\":2957.62},{\"ph1\":4995.02,\"ph2\":5180.19,\"ph3\":5130.9},{\"ph1\":5130.1,\"ph2\":5399.86,\"ph3\":5322.42},{\"ph1\":3533.16,\"ph2\":3545.4,\"ph3\":3524.11},{\"ph1\":3284.02,\"ph2\":3117.69,\"ph3\":3265.69},{\"ph1\":4025.22,\"ph2\":4110.56,\"ph3\":4086.1},{\"ph1\":5114.57,\"ph2\":5362.35,\"ph3\":5290.94},{\"ph1\":4733.86,\"ph2\":4975.46,\"ph3\":4886.4},{\"ph1\":4881.38,\"ph2\":5009.88,\"ph3\":4995.71},{\"ph1\":6835.09,\"ph2\":7168.51,\"ph3\":7070.3},{\"ph1\":6841.37,\"ph2\":7160.9,\"ph3\":7063.05},{\"ph1\":6805.05,\"ph2\":7116.15,\"ph3\":7039.66},{\"ph1\":6826.41,\"ph2\":7129.93,\"ph3\":7025.91},{\"ph1\":6816.84,\"ph2\":7135.91,\"ph3\":7023.63},{\"ph1\":6806.22,\"ph2\":7105.99,\"ph3\":7004.76},{\"ph1\":6829.03,\"ph2\":7147.52,\"ph3\":7046.27},{\"ph1\":6871.54,\"ph2\":7178.28,\"ph3\":7071.04},{\"ph1\":6829.56,\"ph2\":7122.96,\"ph3\":6992.15},{\"ph1\":6804.53,\"ph2\":7119.3,\"ph3\":6999.21},{\"ph1\":6835.47,\"ph2\":7148.87,\"ph3\":7031.9},{\"ph1\":6863.91,\"ph2\":7160.91,\"ph3\":7064.69},{\"ph1\":6813.63,\"ph2\":7131.3,\"ph3\":7034.12},{\"ph1\":6823.85,\"ph2\":7118.99,\"ph3\":7026.07},{\"ph1\":6832.39,\"ph2\":7124,\"ph3\":7048.1},{\"ph1\":6818.28,\"ph2\":7131.32,\"ph3\":7034.34},{\"ph1\":3365.06,\"ph2\":3265.76,\"ph3\":3360.92},{\"ph1\":4120.56,\"ph2\":4083.59,\"ph3\":4125.73},{\"ph1\":5096.33,\"ph2\":5347.51,\"ph3\":5275.02},{\"ph1\":4967.23,\"ph2\":5179.09,\"ph3\":5091.06},{\"ph1\":4603.25,\"ph2\":4679.82,\"ph3\":4667.03},{\"ph1\":6733.63,\"ph2\":7037.44,\"ph3\":6959.19},{\"ph1\":6816.82,\"ph2\":7109.22,\"ph3\":7037.84},{\"ph1\":6869.76,\"ph2\":7148.27,\"ph3\":7064.76},{\"ph1\":6812.47,\"ph2\":7128.28,\"ph3\":7043.3},{\"ph1\":6834.72,\"ph2\":7137.35,\"ph3\":7061.83},{\"ph1\":6873.07,\"ph2\":7168.7,\"ph3\":7086.87},{\"ph1\":6801.18,\"ph2\":7103.73,\"ph3\":7008.8},{\"ph1\":6890.33,\"ph2\":7175.42,\"ph3\":7082.42},{\"ph1\":6843.43,\"ph2\":7140.76,\"ph3\":7055.59},{\"ph1\":6805.35,\"ph2\":7089.9,\"ph3\":7008.96},{\"ph1\":6837.2,\"ph2\":7131.9,\"ph3\":7049.38},{\"ph1\":6824.24,\"ph2\":7140.8,\"ph3\":7024.82},{\"ph1\":6793.26,\"ph2\":7089.39,\"ph3\":7003.8},{\"ph1\":9097.87,\"ph2\":9122.09,\"ph3\":9377.39},{\"ph1\":8311.64,\"ph2\":8631.91,\"ph3\":8612.95},{\"ph1\":8507.84,\"ph2\":8852.34,\"ph3\":8824.68},{\"ph1\":4961.55,\"ph2\":4862.06,\"ph3\":5000.66},{\"ph1\":5559.61,\"ph2\":5522.89,\"ph3\":5691.25},{\"ph1\":7117.22,\"ph2\":7397.64,\"ph3\":7378.13},{\"ph1\":4973.74,\"ph2\":4950.62,\"ph3\":5058.99},{\"ph1\":5809.92,\"ph2\":5835.53,\"ph3\":5983.19},{\"ph1\":8434.53,\"ph2\":8748.4,\"ph3\":8774.75},{\"ph1\":8693.8,\"ph2\":9049.04,\"ph3\":9022.77},{\"ph1\":8753.76,\"ph2\":9104.92,\"ph3\":9086.39},{\"ph1\":8778.15,\"ph2\":9118.82,\"ph3\":9051.97},{\"ph1\":8781.29,\"ph2\":9110.32,\"ph3\":9061.06},{\"ph1\":8816.4,\"ph2\":9142.01,\"ph3\":9109.63},{\"ph1\":8810.77,\"ph2\":9137.79,\"ph3\":9130.03},{\"ph1\":8946.32,\"ph2\":9265.11,\"ph3\":9265.28},{\"ph1\":9764.28,\"ph2\":10148.7,\"ph3\":10089.4},{\"ph1\":9400.07,\"ph2\":9780.06,\"ph3\":9712.45},{\"ph1\":9139.12,\"ph2\":9498.89,\"ph3\":9462.06},{\"ph1\":8949.63,\"ph2\":9283.88,\"ph3\":9238.77},{\"ph1\":8931.32,\"ph2\":9278.42,\"ph3\":9201.83},{\"ph1\":8947.53,\"ph2\":9313.72,\"ph3\":9231.2},{\"ph1\":8902.31,\"ph2\":9256.13,\"ph3\":9218.95},{\"ph1\":7256.31,\"ph2\":7416.71,\"ph3\":7415.89},{\"ph1\":5502.17,\"ph2\":5465.14,\"ph3\":5580.43},{\"ph1\":5600.43,\"ph2\":5549.56,\"ph3\":5673.29},{\"ph1\":7156.05,\"ph2\":7460.25,\"ph3\":7410.07},{\"ph1\":5711.68,\"ph2\":5796.4,\"ph3\":5840.68},{\"ph1\":5168.94,\"ph2\":5065.03,\"ph3\":5236.55},{\"ph1\":8341.69,\"ph2\":8678.38,\"ph3\":8629.01},{\"ph1\":8751.01,\"ph2\":9104.12,\"ph3\":9039.37},{\"ph1\":8748.93,\"ph2\":9100.48,\"ph3\":9002.64},{\"ph1\":8686.98,\"ph2\":9058.18,\"ph3\":8963.84},{\"ph1\":8711.1,\"ph2\":9058.1,\"ph3\":8967.39},{\"ph1\":8700.55,\"ph2\":9070.14,\"ph3\":8959.95},{\"ph1\":8594.76,\"ph2\":8945.17,\"ph3\":8834.24},{\"ph1\":8591.24,\"ph2\":8976.29,\"ph3\":8874.06},{\"ph1\":8635.31,\"ph2\":9012.79,\"ph3\":8897.1},{\"ph1\":8618.39,\"ph2\":8993.93,\"ph3\":8880.68},{\"ph1\":8628.77,\"ph2\":8986.29,\"ph3\":8896.12},{\"ph1\":8355.6,\"ph2\":8728.14,\"ph3\":8635.31},{\"ph1\":8306.53,\"ph2\":8683.93,\"ph3\":8587.02},{\"ph1\":8321.14,\"ph2\":8690.25,\"ph3\":8593.36},{\"ph1\":8252.52,\"ph2\":8589.94,\"ph3\":8498.2},{\"ph1\":7197.79,\"ph2\":7506.1,\"ph3\":7395.33},{\"ph1\":4841.87,\"ph2\":4808.15,\"ph3\":4864.73},{\"ph1\":5957.42,\"ph2\":6158.76,\"ph3\":6143.43},{\"ph1\":6612.88,\"ph2\":6884.17,\"ph3\":6832.23},{\"ph1\":5761.85,\"ph2\":5931.49,\"ph3\":5932.32},{\"ph1\":4505.02,\"ph2\":4473.96,\"ph3\":4551.24},{\"ph1\":8387.92,\"ph2\":8742.81,\"ph3\":8674.42},{\"ph1\":8368.67,\"ph2\":8744.27,\"ph3\":8656.12},{\"ph1\":8434,\"ph2\":8775.07,\"ph3\":8701.65},{\"ph1\":8457.04,\"ph2\":8806.65,\"ph3\":8745},{\"ph1\":8467.06,\"ph2\":8806.61,\"ph3\":8727.36},{\"ph1\":8470.72,\"ph2\":8828.98,\"ph3\":8737.84},{\"ph1\":8473.9,\"ph2\":8841.54,\"ph3\":8759.36},{\"ph1\":8502.53,\"ph2\":8848.85,\"ph3\":8775.79},{\"ph1\":8553.6,\"ph2\":8873.49,\"ph3\":8830.5},{\"ph1\":8553.69,\"ph2\":8878.7,\"ph3\":8838.8},{\"ph1\":8546.46,\"ph2\":8838.31,\"ph3\":8809.36},{\"ph1\":8529.88,\"ph2\":8830.44,\"ph3\":8776.12},{\"ph1\":8530.1,\"ph2\":8827.54,\"ph3\":8771.38},{\"ph1\":8532.32,\"ph2\":8849.63,\"ph3\":8784.34},{\"ph1\":8545.03,\"ph2\":8879.41,\"ph3\":8804.15},{\"ph1\":8366.43,\"ph2\":8703.57,\"ph3\":8638.95},{\"ph1\":5088.43,\"ph2\":5032.39,\"ph3\":5151.25},{\"ph1\":6125.63,\"ph2\":6222.83,\"ph3\":6268.08},{\"ph1\":6738.71,\"ph2\":6973.51,\"ph3\":6947.63},{\"ph1\":6147.13,\"ph2\":6323.96,\"ph3\":6363.47},{\"ph1\":4678.16,\"ph2\":4625.07,\"ph3\":4733.52},{\"ph1\":8527.62,\"ph2\":8838.94,\"ph3\":8815.84},{\"ph1\":8529.89,\"ph2\":8858.94,\"ph3\":8819.84},{\"ph1\":8528.87,\"ph2\":8859.29,\"ph3\":8822.03},{\"ph1\":8552.69,\"ph2\":8868.95,\"ph3\":8844.01},{\"ph1\":8531.64,\"ph2\":8867.58,\"ph3\":8828.95},{\"ph1\":8526.89,\"ph2\":8839.58,\"ph3\":8809.6},{\"ph1\":8539.18,\"ph2\":8852.84,\"ph3\":8834.72},{\"ph1\":8514.92,\"ph2\":8862.2,\"ph3\":8818.11},{\"ph1\":8546.72,\"ph2\":8874,\"ph3\":8837.88},{\"ph1\":8560.53,\"ph2\":8866.89,\"ph3\":8847.88},{\"ph1\":8572.82,\"ph2\":8876.81,\"ph3\":8837.31},{\"ph1\":8577.5,\"ph2\":8854.3,\"ph3\":8855.06},{\"ph1\":8578.37,\"ph2\":8849.06,\"ph3\":8833.35},{\"ph1\":8563.01,\"ph2\":8836.54,\"ph3\":8830.8},{\"ph1\":8581.19,\"ph2\":8835.28,\"ph3\":8846.37},{\"ph1\":5616.66,\"ph2\":5488.4,\"ph3\":5685.16},{\"ph1\":5060.46,\"ph2\":4985.64,\"ph3\":5116.05},{\"ph1\":5997.93,\"ph2\":6022.66,\"ph3\":6113.53},{\"ph1\":6844.12,\"ph2\":7065.28,\"ph3\":7042.1},{\"ph1\":4729.37,\"ph2\":4621.19,\"ph3\":4750.72},{\"ph1\":7136.01,\"ph2\":7249.54,\"ph3\":7232.53},{\"ph1\":8624.17,\"ph2\":8947.24,\"ph3\":8921.09},{\"ph1\":8633.91,\"ph2\":8957.54,\"ph3\":8926.94},{\"ph1\":8662.71,\"ph2\":8975.69,\"ph3\":8937.65},{\"ph1\":8725.1,\"ph2\":9024.13,\"ph3\":9005.74},{\"ph1\":8721.97,\"ph2\":9022.63,\"ph3\":8995.95},{\"ph1\":8787.13,\"ph2\":9100.43,\"ph3\":9058},{\"ph1\":8842.71,\"ph2\":9147.21,\"ph3\":9123.88},{\"ph1\":8833.97,\"ph2\":9128.55,\"ph3\":9122.57},{\"ph1\":9817.26,\"ph2\":10161.8,\"ph3\":10132.4},{\"ph1\":9504.9,\"ph2\":9823.05,\"ph3\":9798.67},{\"ph1\":9170.75,\"ph2\":9483.58,\"ph3\":9448.71},{\"ph1\":9110.44,\"ph2\":9438.85,\"ph3\":9410.07},{\"ph1\":9076.39,\"ph2\":9405.77,\"ph3\":9374.76},{\"ph1\":9077.3,\"ph2\":9402.73,\"ph3\":9363.91},{\"ph1\":9096.12,\"ph2\":9419.22,\"ph3\":9379.97},{\"ph1\":5784.08,\"ph2\":5771.66,\"ph3\":5953.26},{\"ph1\":5270.2,\"ph2\":5192.24,\"ph3\":5299.05},{\"ph1\":5232.04,\"ph2\":5156.02,\"ph3\":5269.97},{\"ph1\":5183.62,\"ph2\":5098.36,\"ph3\":5223.43},{\"ph1\":5155.37,\"ph2\":5081.89,\"ph3\":5185.6},{\"ph1\":5092.63,\"ph2\":4995.72,\"ph3\":5133.92},{\"ph1\":5044.65,\"ph2\":4960.35,\"ph3\":5079.43},{\"ph1\":4852.84,\"ph2\":4760.69,\"ph3\":4842.93},{\"ph1\":4882.24,\"ph2\":4787.74,\"ph3\":4875.67},{\"ph1\":4770.6,\"ph2\":4679.72,\"ph3\":4760.16},{\"ph1\":4764.2,\"ph2\":4671.17,\"ph3\":4756.47},{\"ph1\":4801.25,\"ph2\":4710.92,\"ph3\":4802.42},{\"ph1\":4698.27,\"ph2\":4615.42,\"ph3\":4711.25},{\"ph1\":4675.13,\"ph2\":4585.4,\"ph3\":4681.09},{\"ph1\":4701.67,\"ph2\":4620.6,\"ph3\":4707.63},{\"ph1\":4747.33,\"ph2\":4658.72,\"ph3\":4747.11},{\"ph1\":4624.07,\"ph2\":4557.33,\"ph3\":4620.34},{\"ph1\":4604.25,\"ph2\":4532.73,\"ph3\":4613.06},{\"ph1\":4633.29,\"ph2\":4576.66,\"ph3\":4644.92},{\"ph1\":4625.83,\"ph2\":4559.23,\"ph3\":4633.16},{\"ph1\":4557.18,\"ph2\":4497.38,\"ph3\":4565.13},{\"ph1\":4568.31,\"ph2\":4506.96,\"ph3\":4564.86},{\"ph1\":4614.78,\"ph2\":4551.89,\"ph3\":4616.05},{\"ph1\":4572.53,\"ph2\":4518.57,\"ph3\":4590.05},{\"ph1\":4528.15,\"ph2\":4477.82,\"ph3\":4545.08},{\"ph1\":4347.48,\"ph2\":4264.8,\"ph3\":4352.15},{\"ph1\":4350.73,\"ph2\":4292.12,\"ph3\":4370.54},{\"ph1\":4402.65,\"ph2\":4347.5,\"ph3\":4425.56},{\"ph1\":4445.2,\"ph2\":4377.93,\"ph3\":4461.38},{\"ph1\":4475.33,\"ph2\":4406.98,\"ph3\":4487.64},{\"ph1\":4448.94,\"ph2\":4368.71,\"ph3\":4445.04},{\"ph1\":4472.64,\"ph2\":4410.13,\"ph3\":4488.28},{\"ph1\":4474.99,\"ph2\":4398.04,\"ph3\":4496.15},{\"ph1\":4448.72,\"ph2\":4377.06,\"ph3\":4475.84},{\"ph1\":4499.73,\"ph2\":4428.5,\"ph3\":4516.74},{\"ph1\":4491.52,\"ph2\":4433.17,\"ph3\":4511.33},{\"ph1\":4508.98,\"ph2\":4433.89,\"ph3\":4530.53},{\"ph1\":4531.84,\"ph2\":4467.05,\"ph3\":4550.55},{\"ph1\":4538.25,\"ph2\":4454.75,\"ph3\":4551.43},{\"ph1\":4554.36,\"ph2\":4475.69,\"ph3\":4577.41},{\"ph1\":4534.7,\"ph2\":4456.32,\"ph3\":4547.31},{\"ph1\":4557.54,\"ph2\":4492.79,\"ph3\":4575.43},{\"ph1\":4539.94,\"ph2\":4483.96,\"ph3\":4572.65},{\"ph1\":4504.74,\"ph2\":4440.73,\"ph3\":4530.32},{\"ph1\":4499.13,\"ph2\":4428.15,\"ph3\":4513.16},{\"ph1\":4533.08,\"ph2\":4482.31,\"ph3\":4551.65},{\"ph1\":4480.37,\"ph2\":4408.59,\"ph3\":4508.31},{\"ph1\":4441.7,\"ph2\":4375.13,\"ph3\":4469.59},{\"ph1\":4466.11,\"ph2\":4395.94,\"ph3\":4487.27},{\"ph1\":4456.01,\"ph2\":4400.12,\"ph3\":4487.95},{\"ph1\":4481.32,\"ph2\":4397.43,\"ph3\":4513.93},{\"ph1\":4496.9,\"ph2\":4420.4,\"ph3\":4512.54},{\"ph1\":4469.3,\"ph2\":4394.6,\"ph3\":4471.71},{\"ph1\":4525.06,\"ph2\":4424.35,\"ph3\":4536.01},{\"ph1\":4555.07,\"ph2\":4473.52,\"ph3\":4574.67},{\"ph1\":4421.89,\"ph2\":4331.17,\"ph3\":4449.51},{\"ph1\":4505.74,\"ph2\":4414.54,\"ph3\":4524.73},{\"ph1\":4531.87,\"ph2\":4458.34,\"ph3\":4563.28},{\"ph1\":4454.48,\"ph2\":4378.11,\"ph3\":4489.06},{\"ph1\":4514.1,\"ph2\":4426.06,\"ph3\":4529.37},{\"ph1\":4479.33,\"ph2\":4399.91,\"ph3\":4510.66},{\"ph1\":4465.37,\"ph2\":4383.76,\"ph3\":4477.81},{\"ph1\":4563.86,\"ph2\":4476.64,\"ph3\":4536.99},{\"ph1\":4807.9,\"ph2\":4718.78,\"ph3\":4771.62},{\"ph1\":4680.64,\"ph2\":4620.32,\"ph3\":4681.53},{\"ph1\":4668.32,\"ph2\":4613.26,\"ph3\":4686.93},{\"ph1\":4663.47,\"ph2\":4605.09,\"ph3\":4660.23},{\"ph1\":5564.4,\"ph2\":5490.16,\"ph3\":5545.42},{\"ph1\":4733.23,\"ph2\":4665.15,\"ph3\":4726.85},{\"ph1\":4761.8,\"ph2\":4707.74,\"ph3\":4785.41},{\"ph1\":4775.45,\"ph2\":4711.1,\"ph3\":4792.33},{\"ph1\":4774.22,\"ph2\":4708.74,\"ph3\":4782.79},{\"ph1\":4825.36,\"ph2\":4762.97,\"ph3\":4832.03},{\"ph1\":4864.96,\"ph2\":4786.81,\"ph3\":4871.07},{\"ph1\":4915.37,\"ph2\":4824.09,\"ph3\":4924.49},{\"ph1\":4868.65,\"ph2\":4790.93,\"ph3\":4894.7},{\"ph1\":4911.92,\"ph2\":4832.16,\"ph3\":4933.33},{\"ph1\":4938.09,\"ph2\":4878.1,\"ph3\":4969.22},{\"ph1\":4929.54,\"ph2\":4857.49,\"ph3\":4957.73},{\"ph1\":4984.6,\"ph2\":4913.42,\"ph3\":5002.07},{\"ph1\":5005.79,\"ph2\":4918.48,\"ph3\":5016.24},{\"ph1\":5994.7,\"ph2\":5962.65,\"ph3\":5996.97},{\"ph1\":5368.79,\"ph2\":5303.22,\"ph3\":5390.3},{\"ph1\":5213.22,\"ph2\":5139.99,\"ph3\":5225.9},{\"ph1\":5177.19,\"ph2\":5123.13,\"ph3\":5207.51},{\"ph1\":5149.48,\"ph2\":5092.28,\"ph3\":5181.31},{\"ph1\":5122.25,\"ph2\":5050.26,\"ph3\":5133.37},{\"ph1\":5081.49,\"ph2\":5020.01,\"ph3\":5081.8},{\"ph1\":5092.15,\"ph2\":5029.53,\"ph3\":5104.42},{\"ph1\":5064.67,\"ph2\":4994.9,\"ph3\":5075.03},{\"ph1\":5006.09,\"ph2\":4943.45,\"ph3\":5030.76},{\"ph1\":4989.53,\"ph2\":4952.48,\"ph3\":5018.58},{\"ph1\":4971.02,\"ph2\":4927.07,\"ph3\":4998.55},{\"ph1\":4925.29,\"ph2\":4883.41,\"ph3\":4961.56},{\"ph1\":4950.46,\"ph2\":4891.7,\"ph3\":4953.54},{\"ph1\":6660.04,\"ph2\":6858.59,\"ph3\":6825.92},{\"ph1\":6986.5,\"ph2\":7255.94,\"ph3\":7200.58},{\"ph1\":5829.56,\"ph2\":5884.12,\"ph3\":5924.73},{\"ph1\":5824.18,\"ph2\":5888.89,\"ph3\":5959.71},{\"ph1\":5772.37,\"ph2\":5750.01,\"ph3\":5789.88},{\"ph1\":6888.36,\"ph2\":7150.11,\"ph3\":7102.78},{\"ph1\":6793.51,\"ph2\":7033.61,\"ph3\":7031.45},{\"ph1\":4578.85,\"ph2\":4508.5,\"ph3\":4573.93},{\"ph1\":8188.34,\"ph2\":8499.65,\"ph3\":8420.9},{\"ph1\":8381.38,\"ph2\":8698.87,\"ph3\":8652.68},{\"ph1\":8379.91,\"ph2\":8679.42,\"ph3\":8625.22},{\"ph1\":8365.45,\"ph2\":8644.17,\"ph3\":8582.33},{\"ph1\":8406.19,\"ph2\":8711.32,\"ph3\":8640.72},{\"ph1\":8355.58,\"ph2\":8659.66,\"ph3\":8590.89},{\"ph1\":8330.92,\"ph2\":8640.06,\"ph3\":8553.65},{\"ph1\":8377.24,\"ph2\":8713.65,\"ph3\":8627.9},{\"ph1\":8501.21,\"ph2\":8824.22,\"ph3\":8736.41},{\"ph1\":8530.31,\"ph2\":8847.81,\"ph3\":8760.7},{\"ph1\":8508.02,\"ph2\":8811.44,\"ph3\":8734.67},{\"ph1\":8473.99,\"ph2\":8785.53,\"ph3\":8688.77}]}",
    "payloadType": "json",
    "x": 170,
    "y": 80,
    "wires": [["844be5f844be0233"]]
  },
  {
    "id": "f26993d821ae876c",
    "type": "inject",
    "z": "88fb2db58dbc3efd",
    "g": "cd688f5b363cb39e",
    "name": "Batch Class 1",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"measeurement_start\":\"2019-02-08 09:00:05\",\"measeurement_end\":\"2019-02-08 09:01:19\",\"class\":\"1\",\"measurements\":[{\"ph1\":8447.71,\"ph2\":8871.83,\"ph3\":8775.59},{\"ph1\":8446.56,\"ph2\":8876,\"ph3\":8780.2},{\"ph1\":8438.68,\"ph2\":8889.8,\"ph3\":8785.25},{\"ph1\":8325.01,\"ph2\":8744.72,\"ph3\":8648.21},{\"ph1\":8195.99,\"ph2\":8598.31,\"ph3\":8538.58},{\"ph1\":8147.68,\"ph2\":8598.74,\"ph3\":8494.31},{\"ph1\":8122.19,\"ph2\":8568.25,\"ph3\":8461.26},{\"ph1\":8157.21,\"ph2\":8579.84,\"ph3\":8493.65},{\"ph1\":8164.57,\"ph2\":8568.44,\"ph3\":8499.86},{\"ph1\":8140.43,\"ph2\":8578.75,\"ph3\":8494.05},{\"ph1\":7201.76,\"ph2\":7513.27,\"ph3\":7438.51},{\"ph1\":4465.99,\"ph2\":4433.45,\"ph3\":4482.01},{\"ph1\":4793.11,\"ph2\":4775.91,\"ph3\":4898.53},{\"ph1\":5759.08,\"ph2\":5966.52,\"ph3\":5980.8},{\"ph1\":6569.63,\"ph2\":6933.29,\"ph3\":6871.8},{\"ph1\":6165.49,\"ph2\":6369.03,\"ph3\":6324.5},{\"ph1\":7072.12,\"ph2\":7424.93,\"ph3\":7370.96},{\"ph1\":8398.14,\"ph2\":8837.14,\"ph3\":8785.59},{\"ph1\":8404.27,\"ph2\":8838.93,\"ph3\":8770.2},{\"ph1\":8437.7,\"ph2\":8841.99,\"ph3\":8792.07},{\"ph1\":8459.13,\"ph2\":8856.43,\"ph3\":8811.89},{\"ph1\":8458.66,\"ph2\":8878.54,\"ph3\":8841.88},{\"ph1\":8449.41,\"ph2\":8882.72,\"ph3\":8837.55},{\"ph1\":8464.72,\"ph2\":8894.75,\"ph3\":8858.48},{\"ph1\":8486.41,\"ph2\":8912.55,\"ph3\":8865.52},{\"ph1\":8479.41,\"ph2\":8927.53,\"ph3\":8869.48},{\"ph1\":8511.84,\"ph2\":8916.22,\"ph3\":8878.45},{\"ph1\":8528.93,\"ph2\":8936.91,\"ph3\":8903.15},{\"ph1\":8500.59,\"ph2\":8926.75,\"ph3\":8861.03},{\"ph1\":8415.42,\"ph2\":8840.58,\"ph3\":8775.33},{\"ph1\":8437.55,\"ph2\":8853.94,\"ph3\":8805.54},{\"ph1\":8381.78,\"ph2\":8787.19,\"ph3\":8723.25},{\"ph1\":8344.92,\"ph2\":8746.5,\"ph3\":8693.59},{\"ph1\":8376.37,\"ph2\":8764.2,\"ph3\":8709.38},{\"ph1\":8361.36,\"ph2\":8760.37,\"ph3\":8703.91},{\"ph1\":8366.13,\"ph2\":8747.95,\"ph3\":8698.08},{\"ph1\":8343.26,\"ph2\":8756.31,\"ph3\":8703.31},{\"ph1\":8343.22,\"ph2\":8745.97,\"ph3\":8685.13},{\"ph1\":8369.57,\"ph2\":8752.72,\"ph3\":8698.67},{\"ph1\":8502.62,\"ph2\":8887.15,\"ph3\":8851.22},{\"ph1\":8476.73,\"ph2\":8879.86,\"ph3\":8818.93},{\"ph1\":8474.35,\"ph2\":8867.1,\"ph3\":8832.8},{\"ph1\":8497.24,\"ph2\":8880.18,\"ph3\":8854.9},{\"ph1\":8487.92,\"ph2\":8871.88,\"ph3\":8837.34},{\"ph1\":8471.75,\"ph2\":8878.01,\"ph3\":8824.14},{\"ph1\":8490.43,\"ph2\":8877.95,\"ph3\":8821.33},{\"ph1\":8509.4,\"ph2\":8906.41,\"ph3\":8850.16},{\"ph1\":8501.94,\"ph2\":8890.29,\"ph3\":8842.88},{\"ph1\":8475.27,\"ph2\":8861.03,\"ph3\":8816.47},{\"ph1\":8486.38,\"ph2\":8865.53,\"ph3\":8819.16},{\"ph1\":8525.19,\"ph2\":8897.85,\"ph3\":8877.06},{\"ph1\":8498.43,\"ph2\":8894.54,\"ph3\":8840.46},{\"ph1\":8491.43,\"ph2\":8881.63,\"ph3\":8829.79},{\"ph1\":8507.29,\"ph2\":8869.19,\"ph3\":8832.15},{\"ph1\":7485.55,\"ph2\":7663.47,\"ph3\":7727},{\"ph1\":5678.33,\"ph2\":5554.7,\"ph3\":5676.24},{\"ph1\":6219.19,\"ph2\":6397.84,\"ph3\":6441.3},{\"ph1\":6863.95,\"ph2\":7183.68,\"ph3\":7148.95},{\"ph1\":6224.48,\"ph2\":6336.9,\"ph3\":6343.12},{\"ph1\":7625.28,\"ph2\":7924.44,\"ph3\":7918.99},{\"ph1\":8680.69,\"ph2\":9048.06,\"ph3\":9024.28},{\"ph1\":8712.46,\"ph2\":9072.15,\"ph3\":9059.16},{\"ph1\":8723.02,\"ph2\":9110.98,\"ph3\":9118.8},{\"ph1\":8732.33,\"ph2\":9115.61,\"ph3\":9100.75},{\"ph1\":8752.47,\"ph2\":9120.73,\"ph3\":9100.32},{\"ph1\":8773.32,\"ph2\":9167.39,\"ph3\":9136.26},{\"ph1\":8844.01,\"ph2\":9203.21,\"ph3\":9199.51},{\"ph1\":9500.55,\"ph2\":9908.31,\"ph3\":9902.26},{\"ph1\":9297.67,\"ph2\":9686.47,\"ph3\":9659.69},{\"ph1\":9137,\"ph2\":9513.48,\"ph3\":9489.02},{\"ph1\":9129.24,\"ph2\":9473.72,\"ph3\":9478.29},{\"ph1\":9026.37,\"ph2\":9420.48,\"ph3\":9381.9},{\"ph1\":8951.6,\"ph2\":9343.61,\"ph3\":9308.09},{\"ph1\":8936.59,\"ph2\":9328.26,\"ph3\":9285.84},{\"ph1\":8924.44,\"ph2\":9303.36,\"ph3\":9271.27},{\"ph1\":8865.78,\"ph2\":9232.86,\"ph3\":9213.03},{\"ph1\":8861.12,\"ph2\":9239.21,\"ph3\":9206.21},{\"ph1\":8844.87,\"ph2\":9209.81,\"ph3\":9175.01},{\"ph1\":8804.53,\"ph2\":9186.25,\"ph3\":9161.53},{\"ph1\":8764.45,\"ph2\":9137.04,\"ph3\":9102.66},{\"ph1\":8739.1,\"ph2\":9106.72,\"ph3\":9051.63},{\"ph1\":8685.53,\"ph2\":9060.21,\"ph3\":9020.38},{\"ph1\":8577.29,\"ph2\":8967.16,\"ph3\":8902.25},{\"ph1\":8561.67,\"ph2\":8932.37,\"ph3\":8868.87},{\"ph1\":8525.88,\"ph2\":8898.71,\"ph3\":8869.94},{\"ph1\":8509.12,\"ph2\":8891.66,\"ph3\":8842.53},{\"ph1\":8475.6,\"ph2\":8867.98,\"ph3\":8785.2},{\"ph1\":8488.03,\"ph2\":8863.07,\"ph3\":8805.13},{\"ph1\":8472.13,\"ph2\":8840.94,\"ph3\":8788.99},{\"ph1\":8601.47,\"ph2\":8952.91,\"ph3\":8885.36},{\"ph1\":8572.77,\"ph2\":8949.82,\"ph3\":8907.43},{\"ph1\":8345.67,\"ph2\":8693.13,\"ph3\":8670.44},{\"ph1\":8322.91,\"ph2\":8657.3,\"ph3\":8641.34},{\"ph1\":8299.23,\"ph2\":8652.71,\"ph3\":8610.24},{\"ph1\":8314.32,\"ph2\":8685.04,\"ph3\":8647.56},{\"ph1\":8353.01,\"ph2\":8720.55,\"ph3\":8690.59},{\"ph1\":5038.96,\"ph2\":4936.71,\"ph3\":5063.65},{\"ph1\":4847.94,\"ph2\":4772.84,\"ph3\":4886.65},{\"ph1\":5706.33,\"ph2\":5780,\"ph3\":5839.56},{\"ph1\":6575.88,\"ph2\":6808.16,\"ph3\":6805.67},{\"ph1\":4609.7,\"ph2\":4542.29,\"ph3\":4622.21},{\"ph1\":6135.2,\"ph2\":6289.15,\"ph3\":6336.37},{\"ph1\":8339.26,\"ph2\":8726.13,\"ph3\":8675.45},{\"ph1\":8453.82,\"ph2\":8794.37,\"ph3\":8771.25},{\"ph1\":8477.74,\"ph2\":8839.33,\"ph3\":8791.85},{\"ph1\":8466.14,\"ph2\":8817.06,\"ph3\":8767.06},{\"ph1\":8502.61,\"ph2\":8881.13,\"ph3\":8825},{\"ph1\":8487.36,\"ph2\":8861.76,\"ph3\":8818.75},{\"ph1\":8538.24,\"ph2\":8905.99,\"ph3\":8874.76},{\"ph1\":8509.65,\"ph2\":8884.77,\"ph3\":8852.86},{\"ph1\":8527.99,\"ph2\":8895.25,\"ph3\":8860.72},{\"ph1\":8510.83,\"ph2\":8883.61,\"ph3\":8877.54},{\"ph1\":8525.69,\"ph2\":8868.39,\"ph3\":8853.73},{\"ph1\":8419.91,\"ph2\":8797.29,\"ph3\":8767.76},{\"ph1\":8436.52,\"ph2\":8803.91,\"ph3\":8787.38},{\"ph1\":8438.81,\"ph2\":8802.71,\"ph3\":8798.63},{\"ph1\":8457.36,\"ph2\":8824.31,\"ph3\":8791.51},{\"ph1\":8462.71,\"ph2\":8834.75,\"ph3\":8805.92},{\"ph1\":8479.07,\"ph2\":8862.59,\"ph3\":8837.41},{\"ph1\":8447.84,\"ph2\":8831.67,\"ph3\":8812.9},{\"ph1\":8451.62,\"ph2\":8823.96,\"ph3\":8795.66},{\"ph1\":8427.63,\"ph2\":8801.49,\"ph3\":8780.77},{\"ph1\":8446.49,\"ph2\":8807.65,\"ph3\":8794.45},{\"ph1\":8427.71,\"ph2\":8810.13,\"ph3\":8790.1},{\"ph1\":8470.73,\"ph2\":8820.4,\"ph3\":8822.19},{\"ph1\":8440.05,\"ph2\":8819.8,\"ph3\":8804.92},{\"ph1\":8412.84,\"ph2\":8794.42,\"ph3\":8794.1},{\"ph1\":8425.12,\"ph2\":8812.93,\"ph3\":8812.46},{\"ph1\":8444.28,\"ph2\":8840.43,\"ph3\":8827.55},{\"ph1\":8432.86,\"ph2\":8841.59,\"ph3\":8808.52},{\"ph1\":8425.01,\"ph2\":8818.69,\"ph3\":8803.09},{\"ph1\":8425.26,\"ph2\":8820.13,\"ph3\":8808.7},{\"ph1\":8424.38,\"ph2\":8829.93,\"ph3\":8811.87},{\"ph1\":8427.14,\"ph2\":8820.16,\"ph3\":8803.76},{\"ph1\":8441.67,\"ph2\":8833.34,\"ph3\":8832.14},{\"ph1\":8458.08,\"ph2\":8844.39,\"ph3\":8814.53},{\"ph1\":8422.76,\"ph2\":8827.45,\"ph3\":8809.46},{\"ph1\":8408.55,\"ph2\":8811.45,\"ph3\":8803.9},{\"ph1\":8446.11,\"ph2\":8826.75,\"ph3\":8813.08},{\"ph1\":5096.21,\"ph2\":5033.09,\"ph3\":5153.41},{\"ph1\":4793.54,\"ph2\":4729.5,\"ph3\":4837.74},{\"ph1\":4932.64,\"ph2\":4898.83,\"ph3\":5007},{\"ph1\":5784.85,\"ph2\":5859.09,\"ph3\":5976.57},{\"ph1\":6800.57,\"ph2\":7018.29,\"ph3\":7027.77},{\"ph1\":4804.13,\"ph2\":4761.25,\"ph3\":4861.31},{\"ph1\":6292.57,\"ph2\":6432.81,\"ph3\":6468.23},{\"ph1\":8503.04,\"ph2\":8878.97,\"ph3\":8862.14},{\"ph1\":8676.35,\"ph2\":9049.95,\"ph3\":9044.84},{\"ph1\":8719.58,\"ph2\":9100.51,\"ph3\":9103.57},{\"ph1\":8739.47,\"ph2\":9102.55,\"ph3\":9098.02},{\"ph1\":8745.46,\"ph2\":9116.98,\"ph3\":9127.43},{\"ph1\":9489.35,\"ph2\":9898.96,\"ph3\":9895},{\"ph1\":9250.57,\"ph2\":9651.44,\"ph3\":9619.21},{\"ph1\":9070.06,\"ph2\":9450.73,\"ph3\":9450.02},{\"ph1\":9049.67,\"ph2\":9415.49,\"ph3\":9423.63},{\"ph1\":8906.88,\"ph2\":9308.09,\"ph3\":9286.3},{\"ph1\":8887.72,\"ph2\":9293.93,\"ph3\":9256.9},{\"ph1\":8906.72,\"ph2\":9289.62,\"ph3\":9265.94},{\"ph1\":8868.15,\"ph2\":9255.2,\"ph3\":9247.98},{\"ph1\":8868.56,\"ph2\":9246.84,\"ph3\":9232.39},{\"ph1\":8811.58,\"ph2\":9162.19,\"ph3\":9188.77},{\"ph1\":8778.69,\"ph2\":9128.6,\"ph3\":9186.37},{\"ph1\":8804.57,\"ph2\":9150.35,\"ph3\":9193.09},{\"ph1\":8733.8,\"ph2\":9103.28,\"ph3\":9145.86},{\"ph1\":8706.25,\"ph2\":9078.88,\"ph3\":9109.15},{\"ph1\":8648.02,\"ph2\":9038.74,\"ph3\":9064.79},{\"ph1\":8667.78,\"ph2\":9037.39,\"ph3\":9066.76},{\"ph1\":8601.87,\"ph2\":8979.76,\"ph3\":9010.99},{\"ph1\":8601.11,\"ph2\":8968.23,\"ph3\":8995.51},{\"ph1\":8593.9,\"ph2\":8955.13,\"ph3\":8976.08},{\"ph1\":8572.7,\"ph2\":8946.67,\"ph3\":8966.75},{\"ph1\":8316.98,\"ph2\":8674.42,\"ph3\":8712.82},{\"ph1\":8342.49,\"ph2\":8698.38,\"ph3\":8745},{\"ph1\":8326.77,\"ph2\":8685.74,\"ph3\":8718.6},{\"ph1\":8276.36,\"ph2\":8646.16,\"ph3\":8660.6},{\"ph1\":8299.86,\"ph2\":8657.52,\"ph3\":8659.48},{\"ph1\":8313.54,\"ph2\":8665.71,\"ph3\":8659.25},{\"ph1\":8310.93,\"ph2\":8654.92,\"ph3\":8676.43},{\"ph1\":8299.19,\"ph2\":8635.12,\"ph3\":8642.3},{\"ph1\":8288.01,\"ph2\":8648.21,\"ph3\":8667.16},{\"ph1\":8281.14,\"ph2\":8624.71,\"ph3\":8630.77},{\"ph1\":8281.9,\"ph2\":8642.61,\"ph3\":8656.78},{\"ph1\":8288.73,\"ph2\":8660.05,\"ph3\":8646.03},{\"ph1\":4842.07,\"ph2\":4765.09,\"ph3\":4880.84},{\"ph1\":4753.22,\"ph2\":4698.14,\"ph3\":4832.66},{\"ph1\":5436.85,\"ph2\":5408.41,\"ph3\":5505.89},{\"ph1\":6622.01,\"ph2\":6935.73,\"ph3\":6954.03},{\"ph1\":6814,\"ph2\":7113.71,\"ph3\":7135.02},{\"ph1\":5530.03,\"ph2\":5612.45,\"ph3\":5744.71},{\"ph1\":7776.03,\"ph2\":8121.21,\"ph3\":8148.29},{\"ph1\":8438.89,\"ph2\":8778.64,\"ph3\":8824.3},{\"ph1\":8475.51,\"ph2\":8816.37,\"ph3\":8852.74},{\"ph1\":8459.25,\"ph2\":8819.79,\"ph3\":8832.32},{\"ph1\":8508.23,\"ph2\":8848.73,\"ph3\":8881.76},{\"ph1\":8526,\"ph2\":8883.63,\"ph3\":8893.36},{\"ph1\":8525.97,\"ph2\":8892.08,\"ph3\":8901.08},{\"ph1\":8507.25,\"ph2\":8853.47,\"ph3\":8879.33},{\"ph1\":8412.06,\"ph2\":8779.57,\"ph3\":8799.16},{\"ph1\":8428.32,\"ph2\":8793.57,\"ph3\":8814.89},{\"ph1\":8478.98,\"ph2\":8837.11,\"ph3\":8858.38},{\"ph1\":8491.34,\"ph2\":8840.87,\"ph3\":8863.72},{\"ph1\":8500.52,\"ph2\":8855.62,\"ph3\":8876.78},{\"ph1\":8479.46,\"ph2\":8838.42,\"ph3\":8852.86},{\"ph1\":8480.93,\"ph2\":8851.26,\"ph3\":8860.53},{\"ph1\":8473.15,\"ph2\":8840.25,\"ph3\":8845.27},{\"ph1\":8502.84,\"ph2\":8847.58,\"ph3\":8868.85},{\"ph1\":8484.61,\"ph2\":8856.09,\"ph3\":8862.36},{\"ph1\":8475.98,\"ph2\":8832.87,\"ph3\":8868.48},{\"ph1\":8451,\"ph2\":8828.42,\"ph3\":8846.42},{\"ph1\":8453.03,\"ph2\":8837.36,\"ph3\":8838.96},{\"ph1\":8451.64,\"ph2\":8847.93,\"ph3\":8826.21},{\"ph1\":8477.49,\"ph2\":8849.92,\"ph3\":8830.81},{\"ph1\":8483.98,\"ph2\":8850.71,\"ph3\":8848.27},{\"ph1\":8487.51,\"ph2\":8848.43,\"ph3\":8832.87},{\"ph1\":8469.07,\"ph2\":8824.34,\"ph3\":8820.14},{\"ph1\":8463.41,\"ph2\":8837.41,\"ph3\":8833.79},{\"ph1\":8496.12,\"ph2\":8862.29,\"ph3\":8863.01},{\"ph1\":8490.26,\"ph2\":8842.57,\"ph3\":8837.84},{\"ph1\":8502.26,\"ph2\":8853.56,\"ph3\":8868.03},{\"ph1\":8485.46,\"ph2\":8835.16,\"ph3\":8833.34},{\"ph1\":8472.54,\"ph2\":8819.23,\"ph3\":8818.58},{\"ph1\":8504.92,\"ph2\":8875.64,\"ph3\":8859.14},{\"ph1\":8508.19,\"ph2\":8916.33,\"ph3\":8872.55},{\"ph1\":8462.39,\"ph2\":8874.18,\"ph3\":8849.85},{\"ph1\":8491.66,\"ph2\":8871.79,\"ph3\":8842.53},{\"ph1\":8593.51,\"ph2\":8996.88,\"ph3\":8952.85},{\"ph1\":8586.36,\"ph2\":8975.54,\"ph3\":8968.07},{\"ph1\":8618.36,\"ph2\":9004.4,\"ph3\":8982.53},{\"ph1\":8679.15,\"ph2\":9034.08,\"ph3\":9017.48},{\"ph1\":8672.75,\"ph2\":9037.11,\"ph3\":9001.25},{\"ph1\":8714.08,\"ph2\":9055.15,\"ph3\":9034.92},{\"ph1\":8706.61,\"ph2\":9054.49,\"ph3\":9038.18},{\"ph1\":8762.83,\"ph2\":9106.05,\"ph3\":9103.08},{\"ph1\":8808.81,\"ph2\":9142.32,\"ph3\":9101.98},{\"ph1\":8797.21,\"ph2\":9146.34,\"ph3\":9121.79},{\"ph1\":9597.89,\"ph2\":9987.72,\"ph3\":9938.08},{\"ph1\":9295.56,\"ph2\":9651.97,\"ph3\":9595.86},{\"ph1\":9110.53,\"ph2\":9505.2,\"ph3\":9442.67},{\"ph1\":9096.46,\"ph2\":9442.48,\"ph3\":9420.8},{\"ph1\":9013.97,\"ph2\":9369.28,\"ph3\":9333.74},{\"ph1\":8956.44,\"ph2\":9300.75,\"ph3\":9272.28},{\"ph1\":8931.04,\"ph2\":9279.76,\"ph3\":9265.95},{\"ph1\":8880.26,\"ph2\":9242.39,\"ph3\":9214.55},{\"ph1\":8909.29,\"ph2\":9251.4,\"ph3\":9214.55},{\"ph1\":8909.29,\"ph2\":9251.4,\"ph3\":9238.72},{\"ph1\":8867.72,\"ph2\":9232.53,\"ph3\":9188.52},{\"ph1\":8850.13,\"ph2\":9198.56,\"ph3\":9158.17},{\"ph1\":8788.39,\"ph2\":9163.84,\"ph3\":9129.09},{\"ph1\":8787.23,\"ph2\":9145.46,\"ph3\":9092.24},{\"ph1\":8726.66,\"ph2\":9107.86,\"ph3\":9041.59},{\"ph1\":8741.07,\"ph2\":9116.06,\"ph3\":9041.4},{\"ph1\":8709.43,\"ph2\":9073.52,\"ph3\":9022.84},{\"ph1\":8666.03,\"ph2\":9049.26,\"ph3\":8989.47},{\"ph1\":8648.92,\"ph2\":9020.98,\"ph3\":8939.07},{\"ph1\":8660.4,\"ph2\":9031.45,\"ph3\":8970.7},{\"ph1\":8624.07,\"ph2\":9001.43,\"ph3\":8935.86},{\"ph1\":8594.31,\"ph2\":9000.07,\"ph3\":8906.46},{\"ph1\":8595.61,\"ph2\":8963.16,\"ph3\":8862.05},{\"ph1\":8588.41,\"ph2\":8953.1,\"ph3\":8880.01},{\"ph1\":8570.68,\"ph2\":8930.61,\"ph3\":8862},{\"ph1\":8343.62,\"ph2\":8698.24,\"ph3\":8620.33},{\"ph1\":8359.32,\"ph2\":8725.76,\"ph3\":8644.26},{\"ph1\":8358.89,\"ph2\":8718.34,\"ph3\":8648.56},{\"ph1\":8345.49,\"ph2\":8702.63,\"ph3\":8636.89},{\"ph1\":8317.67,\"ph2\":8685.89,\"ph3\":8600.86},{\"ph1\":8399.97,\"ph2\":8776.3,\"ph3\":8692.19},{\"ph1\":8398.62,\"ph2\":8758.24,\"ph3\":8671.65},{\"ph1\":8354.14,\"ph2\":8721.04,\"ph3\":8635.45},{\"ph1\":8390.6,\"ph2\":8754.27,\"ph3\":8663.59},{\"ph1\":8439.21,\"ph2\":8811.35,\"ph3\":8732.45},{\"ph1\":8441.94,\"ph2\":8797.75,\"ph3\":8724.56},{\"ph1\":8381.28,\"ph2\":8755.6,\"ph3\":8672.99},{\"ph1\":8448.9,\"ph2\":8815.18,\"ph3\":8714.74},{\"ph1\":8479.08,\"ph2\":8820.08,\"ph3\":8749.07},{\"ph1\":8466,\"ph2\":8827.07,\"ph3\":8767.8},{\"ph1\":8465.41,\"ph2\":8825.88,\"ph3\":8752.84},{\"ph1\":8508.5,\"ph2\":8848.79,\"ph3\":8791.54},{\"ph1\":8538.93,\"ph2\":8871.67,\"ph3\":8823.48},{\"ph1\":8515.17,\"ph2\":8850.96,\"ph3\":8794.46},{\"ph1\":8536.9,\"ph2\":8882.84,\"ph3\":8831.25},{\"ph1\":8506.55,\"ph2\":8867.5,\"ph3\":8796.98},{\"ph1\":8540.15,\"ph2\":8866.67,\"ph3\":8819.37},{\"ph1\":8456.78,\"ph2\":8785.56,\"ph3\":8733.32},{\"ph1\":8459.55,\"ph2\":8805.91,\"ph3\":8754.22},{\"ph1\":8464.2,\"ph2\":8813.72,\"ph3\":8761.72},{\"ph1\":8470.69,\"ph2\":8846.65,\"ph3\":8769.91},{\"ph1\":8478.26,\"ph2\":8823.92,\"ph3\":8785.03},{\"ph1\":8498.44,\"ph2\":8835.84,\"ph3\":8790.83},{\"ph1\":8470.14,\"ph2\":8841.76,\"ph3\":8786.46},{\"ph1\":8454.32,\"ph2\":8804.61,\"ph3\":8744.92},{\"ph1\":8468.57,\"ph2\":8805.4,\"ph3\":8755.99},{\"ph1\":8484.76,\"ph2\":8800.78,\"ph3\":8745.45},{\"ph1\":8471.55,\"ph2\":8821.17,\"ph3\":8770.26},{\"ph1\":8475.93,\"ph2\":8804.05,\"ph3\":8779.88},{\"ph1\":8473.65,\"ph2\":8820.35,\"ph3\":8757.84},{\"ph1\":8499.15,\"ph2\":8825.33,\"ph3\":8777.62},{\"ph1\":8467.71,\"ph2\":8821.05,\"ph3\":8764.62},{\"ph1\":8466.55,\"ph2\":8784.48,\"ph3\":8772.59},{\"ph1\":8455.46,\"ph2\":8795.76,\"ph3\":8742.57},{\"ph1\":8474.93,\"ph2\":8825.35,\"ph3\":8761.36}]}",
    "payloadType": "json",
    "x": 170,
    "y": 140,
    "wires": [["844be5f844be0233"]]
  },
  {
    "id": "12288c92412a22f9",
    "type": "debug",
    "z": "88fb2db58dbc3efd",
    "g": "cd688f5b363cb39e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 140,
    "wires": []
  },
  {
    "id": "844be5f844be0233",
    "type": "json",
    "z": "88fb2db58dbc3efd",
    "g": "cd688f5b363cb39e",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 390,
    "y": 140,
    "wires": [["2fc67a04822d8a84", "12288c92412a22f9"]]
  },
  {
    "id": "11223344",
    "type": "mqtt-broker",
    "name": "Databus",
    "broker": "ie-databus",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
