e2e-tutorials/state_identifier/flows/State Identifier Flow.json
[
  {
    "id": "553fea68bb710c28",
    "type": "tab",
    "label": "State Identifier Test",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a6e01c483b68b744",
    "type": "group",
    "z": "553fea68bb710c28",
    "name": "State Identifier Input",
    "style": { "label": true },
    "nodes": [
      "f9e0b82295360923",
      "5c6344b1cb93362c",
      "908c3b7d79b75b33",
      "f1cb52eb32134533",
      "5b66cf73785125df",
      "826b6d96c5e7083d",
      "d1c77cac79cea2cd",
      "23838b43ed885909",
      "daf8d72e1c4b64b6",
      "66d0e05542fc2d11"
    ],
    "x": 54,
    "y": 39,
    "w": 1232,
    "h": 202
  },
  {
    "id": "fdb44d79f11d7f3c",
    "type": "group",
    "z": "553fea68bb710c28",
    "name": "State Identifier Output",
    "style": { "label": true },
    "nodes": ["45a599aece7cd907", "fddeba77a2a32a81"],
    "x": 54,
    "y": 299,
    "w": 592,
    "h": 82
  },
  {
    "id": "f9e0b82295360923",
    "type": "function",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "Create S7 Payload",
    "func": "var options = { month:\"2-digit\"};\nvar tss = new Date().toISOString();\nvar newMsg  = {}\nnewMsg.payload = \n{\n    \"seq\": 1,\n    \"vals\": [\n        {\n        \"id\": \"ph1\", \n        \"qc\":3,\n        \"ts\":tss,\n        \"val\": msg.payload.ph1\n        },\n        {\n        \"id\": \"ph2\",\n        \"qc\":3,\n        \"ts\":tss,       \n        \"val\": msg.payload.ph2\n        },\n        {\n        \"id\": \"ph3\",\n        \"qc\":3,\n        \"ts\":tss,          \n        \"val\": msg.payload.ph3\n        }\n    ]\n}\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 200,
    "wires": [["5c6344b1cb93362c", "66d0e05542fc2d11"]]
  },
  {
    "id": "5c6344b1cb93362c",
    "type": "mqtt out",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "",
    "topic": "ie/test/plc1",
    "qos": "2",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "11223344",
    "x": 1170,
    "y": 200,
    "wires": []
  },
  {
    "id": "45a599aece7cd907",
    "type": "mqtt in",
    "z": "553fea68bb710c28",
    "g": "fdb44d79f11d7f3c",
    "name": "",
    "topic": "ie/test/prediction",
    "qos": "2",
    "datatype": "json",
    "broker": "11223344",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 340,
    "wires": [["fddeba77a2a32a81"]]
  },
  {
    "id": "908c3b7d79b75b33",
    "type": "function",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "Data Storage class 2",
    "func": "var data = [{'ph1': 4732.89, 'ph2': 4654.44, 'ph3': 4835.02},\n {'ph1': 4909.13, 'ph2': 4775.16, 'ph3': 4996.67},\n {'ph1': 7323.25, 'ph2': 7180.79, 'ph3': 7409.14},\n {'ph1': 4948.74, 'ph2': 4841.83, 'ph3': 5046.41},\n {'ph1': 5112.94, 'ph2': 5007.35, 'ph3': 5204.74},\n {'ph1': 5366.45, 'ph2': 5243.95, 'ph3': 5433.18},\n {'ph1': 4909.93, 'ph2': 4808.56, 'ph3': 4961.24},\n {'ph1': 4806.08, 'ph2': 4720.97, 'ph3': 4868.75},\n {'ph1': 4838.05, 'ph2': 4743.26, 'ph3': 4911.85},\n {'ph1': 4835.25, 'ph2': 4749.88, 'ph3': 4898.23},\n {'ph1': 4863.1, 'ph2': 4774.69, 'ph3': 4917.84},\n {'ph1': 4882.94, 'ph2': 4784.97, 'ph3': 4943.75},\n {'ph1': 4847.4, 'ph2': 4767.23, 'ph3': 4897.85},\n {'ph1': 4866.75, 'ph2': 4777.39, 'ph3': 4926.28},\n {'ph1': 4893.6, 'ph2': 4818.22, 'ph3': 4966.96},\n {'ph1': 4836.32, 'ph2': 4771.35, 'ph3': 4904.95},\n {'ph1': 4820.52, 'ph2': 4744.54, 'ph3': 4891.47},\n {'ph1': 4756.07, 'ph2': 4688.99, 'ph3': 4825.42},\n {'ph1': 4746.04, 'ph2': 4674.31, 'ph3': 4792.22},\n {'ph1': 4754.89, 'ph2': 4687.44, 'ph3': 4813.83},\n {'ph1': 4760.0, 'ph2': 4694.99, 'ph3': 4824.92},\n {'ph1': 4778.69, 'ph2': 4701.96, 'ph3': 4837.49},\n {'ph1': 4876.15, 'ph2': 4809.31, 'ph3': 4952.76},\n {'ph1': 4879.07, 'ph2': 4812.87, 'ph3': 4964.13},\n {'ph1': 4915.72, 'ph2': 4829.28, 'ph3': 4973.02},\n {'ph1': 4909.54, 'ph2': 4824.77, 'ph3': 4989.55},\n {'ph1': 4908.6, 'ph2': 4839.47, 'ph3': 4976.76},\n {'ph1': 4954.32, 'ph2': 4871.21, 'ph3': 5004.94},\n {'ph1': 4897.28, 'ph2': 4797.25, 'ph3': 4938.77},\n {'ph1': 4882.46, 'ph2': 4803.1, 'ph3': 4935.32},\n {'ph1': 4905.2, 'ph2': 4810.44, 'ph3': 4921.36},\n {'ph1': 5195.72, 'ph2': 5051.75, 'ph3': 5268.9},\n {'ph1': 5776.44, 'ph2': 5720.76, 'ph3': 5869.64},\n {'ph1': 5637.12, 'ph2': 5555.18, 'ph3': 5722.98},\n {'ph1': 5678.35, 'ph2': 5602.35, 'ph3': 5777.91},\n {'ph1': 5661.2, 'ph2': 5586.38, 'ph3': 5745.65},\n {'ph1': 5650.62, 'ph2': 5557.53, 'ph3': 5720.16},\n {'ph1': 5665.81, 'ph2': 5577.11, 'ph3': 5757.81},\n {'ph1': 5638.37, 'ph2': 5555.62, 'ph3': 5720.61},\n {'ph1': 5642.91, 'ph2': 5555.73, 'ph3': 5724.55},\n {'ph1': 5641.8, 'ph2': 5550.27, 'ph3': 5731.26},\n {'ph1': 6492.36, 'ph2': 6500.88, 'ph3': 6619.65},\n {'ph1': 5703.75, 'ph2': 5605.84, 'ph3': 5775.76},\n {'ph1': 5667.64, 'ph2': 5572.44, 'ph3': 5766.05},\n {'ph1': 5638.91, 'ph2': 5561.06, 'ph3': 5737.68},\n {'ph1': 5660.52, 'ph2': 5570.28, 'ph3': 5751.04},\n {'ph1': 5666.33, 'ph2': 5572.95, 'ph3': 5777.5},\n {'ph1': 5262.06, 'ph2': 5186.37, 'ph3': 5374.52},\n {'ph1': 5067.4, 'ph2': 4962.53, 'ph3': 5152.48},\n {'ph1': 5028.36, 'ph2': 4915.89, 'ph3': 5107.89},\n {'ph1': 4944.26, 'ph2': 4850.15, 'ph3': 5013.77},\n {'ph1': 4922.82, 'ph2': 4813.16, 'ph3': 4991.92},\n {'ph1': 4897.59, 'ph2': 4789.68, 'ph3': 4962.88},\n {'ph1': 5603.12, 'ph2': 5493.02, 'ph3': 5699.79},\n {'ph1': 4889.6, 'ph2': 4764.51, 'ph3': 4935.52},\n {'ph1': 5825.74, 'ph2': 5715.52, 'ph3': 5872.66},\n {'ph1': 5177.48, 'ph2': 5038.52, 'ph3': 5232.18},\n {'ph1': 4884.66, 'ph2': 4763.53, 'ph3': 4929.85},\n {'ph1': 4904.52, 'ph2': 4804.54, 'ph3': 4961.33},\n {'ph1': 6047.81, 'ph2': 5950.11, 'ph3': 6094.36},\n {'ph1': 6636.22, 'ph2': 6461.42, 'ph3': 6685.97},\n {'ph1': 5188.23, 'ph2': 5073.77, 'ph3': 5254.67},\n {'ph1': 5774.07, 'ph2': 5699.71, 'ph3': 5861.89},\n {'ph1': 5388.73, 'ph2': 5288.92, 'ph3': 5471.55},\n {'ph1': 5064.85, 'ph2': 4976.44, 'ph3': 5133.56},\n {'ph1': 5025.17, 'ph2': 4934.72, 'ph3': 5090.35},\n {'ph1': 5038.84, 'ph2': 4963.11, 'ph3': 5124.03},\n {'ph1': 5030.0, 'ph2': 4931.18, 'ph3': 5095.1},\n {'ph1': 5007.56, 'ph2': 4918.08, 'ph3': 5086.56},\n {'ph1': 5225.79, 'ph2': 5172.64, 'ph3': 5303.45},\n {'ph1': 5867.34, 'ph2': 5782.56, 'ph3': 5989.52},\n {'ph1': 4923.45, 'ph2': 4850.73, 'ph3': 5005.05},\n {'ph1': 4883.07, 'ph2': 4817.92, 'ph3': 4964.62},\n {'ph1': 4836.13, 'ph2': 4765.23, 'ph3': 4914.08},\n {'ph1': 4837.36, 'ph2': 4764.83, 'ph3': 4903.19},\n {'ph1': 7485.0, 'ph2': 7413.37, 'ph3': 7539.88},\n {'ph1': 5065.32, 'ph2': 4944.21, 'ph3': 5146.06},\n {'ph1': 4713.87, 'ph2': 4644.16, 'ph3': 4769.85},\n {'ph1': 4735.05, 'ph2': 4663.15, 'ph3': 4794.85},\n {'ph1': 4704.3, 'ph2': 4652.54, 'ph3': 4765.88},\n {'ph1': 4707.85, 'ph2': 4645.87, 'ph3': 4755.69},\n {'ph1': 4725.47, 'ph2': 4667.93, 'ph3': 4779.02},\n {'ph1': 4607.97, 'ph2': 4543.14, 'ph3': 4651.09},\n {'ph1': 4486.61, 'ph2': 4412.22, 'ph3': 4519.8},\n {'ph1': 4475.95, 'ph2': 4403.48, 'ph3': 4524.38},\n {'ph1': 4462.04, 'ph2': 4403.98, 'ph3': 4527.17},\n {'ph1': 7395.45, 'ph2': 7587.57, 'ph3': 7718.01},\n {'ph1': 8428.7, 'ph2': 8710.26, 'ph3': 8771.71},\n {'ph1': 8563.87, 'ph2': 8813.88, 'ph3': 8925.78},\n {'ph1': 8164.92, 'ph2': 8395.39, 'ph3': 8499.2},\n {'ph1': 8525.99, 'ph2': 8855.32, 'ph3': 8963.18},\n {'ph1': 8215.78, 'ph2': 8525.4, 'ph3': 8624.02},\n {'ph1': 8506.58, 'ph2': 8792.77, 'ph3': 8864.59},\n {'ph1': 8356.93, 'ph2': 8600.35, 'ph3': 8720.29},\n {'ph1': 8051.63, 'ph2': 8316.26, 'ph3': 8415.23},\n {'ph1': 8627.33, 'ph2': 8907.45, 'ph3': 9010.24},\n {'ph1': 8026.06, 'ph2': 8301.14, 'ph3': 8393.0},\n {'ph1': 6724.16, 'ph2': 6755.89, 'ph3': 6955.02},\n {'ph1': 8420.97, 'ph2': 8732.46, 'ph3': 8795.25},\n {'ph1': 8475.63, 'ph2': 8746.45, 'ph3': 8837.06},\n {'ph1': 8491.84, 'ph2': 8781.46, 'ph3': 8844.6},\n {'ph1': 8603.51, 'ph2': 8877.6, 'ph3': 8977.0},\n {'ph1': 5706.47, 'ph2': 5746.71, 'ph3': 5919.81},\n {'ph1': 8304.42, 'ph2': 8570.12, 'ph3': 8631.92},\n {'ph1': 8584.75, 'ph2': 8862.26, 'ph3': 8941.93},\n {'ph1': 8464.58, 'ph2': 8734.68, 'ph3': 8806.56},\n {'ph1': 8567.27, 'ph2': 8826.35, 'ph3': 8905.76},\n {'ph1': 5205.83, 'ph2': 5145.66, 'ph3': 5257.63},\n {'ph1': 7952.17, 'ph2': 8182.28, 'ph3': 8291.72},\n {'ph1': 8668.21, 'ph2': 8931.82, 'ph3': 9026.91},\n {'ph1': 8524.94, 'ph2': 8752.58, 'ph3': 8815.97},\n {'ph1': 8640.71, 'ph2': 8893.83, 'ph3': 8952.62},\n {'ph1': 6044.78, 'ph2': 6042.07, 'ph3': 6236.94},\n {'ph1': 7084.62, 'ph2': 7232.67, 'ph3': 7222.24},\n {'ph1': 8559.19, 'ph2': 8804.93, 'ph3': 8883.54},\n {'ph1': 8492.12, 'ph2': 8750.83, 'ph3': 8804.45},\n {'ph1': 8630.02, 'ph2': 8901.57, 'ph3': 8947.79},\n {'ph1': 7067.24, 'ph2': 7176.31, 'ph3': 7332.77},\n {'ph1': 6333.54, 'ph2': 6485.23, 'ph3': 6507.1},\n {'ph1': 8603.43, 'ph2': 8862.56, 'ph3': 8924.45},\n {'ph1': 8560.06, 'ph2': 8803.96, 'ph3': 8872.4},\n {'ph1': 8590.66, 'ph2': 8833.85, 'ph3': 8923.29},\n {'ph1': 7607.72, 'ph2': 7796.77, 'ph3': 7934.07},\n {'ph1': 8485.78, 'ph2': 8742.31, 'ph3': 8792.1},\n {'ph1': 8595.19, 'ph2': 8844.38, 'ph3': 8913.81},\n {'ph1': 8609.59, 'ph2': 8859.31, 'ph3': 8963.2},\n {'ph1': 8095.46, 'ph2': 8299.95, 'ph3': 8442.44},\n {'ph1': 5782.8, 'ph2': 5748.56, 'ph3': 5881.04},\n {'ph1': 8392.1, 'ph2': 8535.09, 'ph3': 8658.55},\n {'ph1': 8591.94, 'ph2': 8837.9, 'ph3': 8936.92},\n {'ph1': 8611.59, 'ph2': 8855.07, 'ph3': 8947.25},\n {'ph1': 8541.61, 'ph2': 8763.91, 'ph3': 8867.36},\n {'ph1': 5940.72, 'ph2': 5867.35, 'ph3': 6086.36},\n {'ph1': 7815.3, 'ph2': 7933.58, 'ph3': 7977.05},\n {'ph1': 8563.82, 'ph2': 8798.22, 'ph3': 8896.28},\n {'ph1': 8591.47, 'ph2': 8828.21, 'ph3': 8922.33},\n {'ph1': 8597.83, 'ph2': 8827.41, 'ph3': 8942.99},\n {'ph1': 6955.59, 'ph2': 6995.55, 'ph3': 7169.34},\n {'ph1': 8617.3, 'ph2': 8810.85, 'ph3': 8951.61},\n {'ph1': 8589.13, 'ph2': 8798.85, 'ph3': 8928.84},\n {'ph1': 8618.08, 'ph2': 8805.79, 'ph3': 8953.19},\n {'ph1': 8676.59, 'ph2': 8868.43, 'ph3': 9008.8},\n {'ph1': 6434.26, 'ph2': 6515.32, 'ph3': 6567.85},\n {'ph1': 8578.35, 'ph2': 8818.18, 'ph3': 8917.28},\n {'ph1': 8623.86, 'ph2': 8838.26, 'ph3': 8965.76},\n {'ph1': 8606.76, 'ph2': 8830.42, 'ph3': 8968.12},\n {'ph1': 8738.56, 'ph2': 8963.79, 'ph3': 9095.91},\n {'ph1': 5799.05, 'ph2': 5879.22, 'ph3': 5982.83},\n {'ph1': 8473.42, 'ph2': 8730.76, 'ph3': 8828.38},\n {'ph1': 8819.73, 'ph2': 9037.59, 'ph3': 9187.7},\n {'ph1': 8787.69, 'ph2': 9014.36, 'ph3': 9148.1},\n {'ph1': 8619.09, 'ph2': 8872.77, 'ph3': 8993.24},\n {'ph1': 5446.98, 'ph2': 5361.53, 'ph3': 5563.25},\n {'ph1': 8298.73, 'ph2': 8556.88, 'ph3': 8612.61},\n {'ph1': 8818.03, 'ph2': 9043.95, 'ph3': 9169.72},\n {'ph1': 8929.29, 'ph2': 9156.45, 'ph3': 9300.76},\n {'ph1': 8678.15, 'ph2': 8913.87, 'ph3': 9023.67},\n {'ph1': 6304.77, 'ph2': 6420.72, 'ph3': 6536.16},\n {'ph1': 7220.57, 'ph2': 7359.68, 'ph3': 7487.93},\n {'ph1': 8818.59, 'ph2': 9063.57, 'ph3': 9163.14},\n {'ph1': 8819.1, 'ph2': 9076.3, 'ph3': 9148.18},\n {'ph1': 8920.11, 'ph2': 9172.92, 'ph3': 9264.07},\n {'ph1': 7342.32, 'ph2': 7505.88, 'ph3': 7617.7},\n {'ph1': 8865.84, 'ph2': 9077.38, 'ph3': 9187.91},\n {'ph1': 8907.05, 'ph2': 9144.49, 'ph3': 9239.99},\n {'ph1': 8872.83, 'ph2': 9106.53, 'ph3': 9209.76},\n {'ph1': 7961.04, 'ph2': 8124.96, 'ph3': 8228.66},\n {'ph1': 6556.45, 'ph2': 6640.89, 'ph3': 6754.81},\n {'ph1': 8752.59, 'ph2': 8941.88, 'ph3': 9044.84},\n {'ph1': 8897.19, 'ph2': 9092.49, 'ph3': 9182.09},\n {'ph1': 8852.81, 'ph2': 9040.08, 'ph3': 9137.38},\n {'ph1': 8446.32, 'ph2': 8651.27, 'ph3': 8731.11},\n {'ph1': 6036.87, 'ph2': 5984.27, 'ph3': 6171.96},\n {'ph1': 8577.73, 'ph2': 8768.93, 'ph3': 8809.83},\n {'ph1': 8853.16, 'ph2': 9053.65, 'ph3': 9163.3},\n {'ph1': 8817.73, 'ph2': 9017.24, 'ph3': 9129.92},\n {'ph1': 8828.49, 'ph2': 9020.11, 'ph3': 9136.7},\n {'ph1': 6286.51, 'ph2': 6329.69, 'ph3': 6426.87},\n {'ph1': 9679.11, 'ph2': 9898.47, 'ph3': 10015.3},\n {'ph1': 9337.68, 'ph2': 9531.07, 'ph3': 9647.72},\n {'ph1': 9142.51, 'ph2': 9328.09, 'ph3': 9473.69},\n {'ph1': 9058.61, 'ph2': 9254.63, 'ph3': 9374.52},\n {'ph1': 7162.46, 'ph2': 7087.37, 'ph3': 7333.13},\n {'ph1': 9049.08, 'ph2': 9236.63, 'ph3': 9378.11},\n {'ph1': 8985.49, 'ph2': 9169.81, 'ph3': 9331.19},\n {'ph1': 8949.08, 'ph2': 9161.08, 'ph3': 9304.87},\n {'ph1': 8984.81, 'ph2': 9181.49, 'ph3': 9321.09},\n {'ph1': 4916.64, 'ph2': 4815.08, 'ph3': 4958.06},\n {'ph1': 5192.85, 'ph2': 5082.22, 'ph3': 5269.76},\n {'ph1': 5401.99, 'ph2': 5326.8, 'ph3': 5488.65},\n {'ph1': 5155.44, 'ph2': 5036.02, 'ph3': 5210.89},\n {'ph1': 8183.09, 'ph2': 8415.9, 'ph3': 8573.92},\n {'ph1': 9215.37, 'ph2': 9415.1, 'ph3': 9537.85},\n {'ph1': 8896.83, 'ph2': 9114.67, 'ph3': 9242.84},\n {'ph1': 8883.98, 'ph2': 9113.77, 'ph3': 9213.73},\n {'ph1': 8850.24, 'ph2': 9064.75, 'ph3': 9175.53},\n {'ph1': 8853.12, 'ph2': 9084.98, 'ph3': 9186.35},\n {'ph1': 8915.2, 'ph2': 9172.07, 'ph3': 9272.32},\n {'ph1': 8993.19, 'ph2': 9239.01, 'ph3': 9352.76},\n {'ph1': 8992.18, 'ph2': 9224.01, 'ph3': 9334.24},\n {'ph1': 8971.1, 'ph2': 9195.32, 'ph3': 9289.13},\n {'ph1': 8929.28, 'ph2': 9100.27, 'ph3': 9218.62},\n {'ph1': 8860.56, 'ph2': 9076.32, 'ph3': 9171.63},\n {'ph1': 8897.31, 'ph2': 9103.48, 'ph3': 9191.32},\n {'ph1': 8860.24, 'ph2': 9099.28, 'ph3': 9172.37},\n {'ph1': 8839.88, 'ph2': 9053.7, 'ph3': 9160.04},\n {'ph1': 8887.34, 'ph2': 9107.2, 'ph3': 9213.23},\n {'ph1': 8884.02, 'ph2': 9107.28, 'ph3': 9214.47},\n {'ph1': 8842.49, 'ph2': 9057.95, 'ph3': 9167.14},\n {'ph1': 8353.59, 'ph2': 8555.75, 'ph3': 8646.56},\n {'ph1': 5907.74, 'ph2': 5778.15, 'ph3': 5993.79},\n {'ph1': 6153.99, 'ph2': 5983.1, 'ph3': 6166.54},\n {'ph1': 5008.05, 'ph2': 4903.44, 'ph3': 5070.47},\n {'ph1': 4576.11, 'ph2': 4459.58, 'ph3': 4587.02},\n {'ph1': 4586.86, 'ph2': 4480.46, 'ph3': 4625.74},\n {'ph1': 8343.96, 'ph2': 8538.1, 'ph3': 8660.59},\n {'ph1': 8614.56, 'ph2': 8835.84, 'ph3': 8933.74},\n {'ph1': 8559.43, 'ph2': 8746.85, 'ph3': 8881.38},\n {'ph1': 8329.41, 'ph2': 8531.03, 'ph3': 8660.03},\n {'ph1': 8580.57, 'ph2': 8768.46, 'ph3': 8871.97},\n {'ph1': 8472.17, 'ph2': 8680.48, 'ph3': 8774.14},\n {'ph1': 8648.96, 'ph2': 8849.55, 'ph3': 8964.15},\n {'ph1': 8315.75, 'ph2': 8497.96, 'ph3': 8620.82},\n {'ph1': 8800.71, 'ph2': 9009.87, 'ph3': 9111.49},\n {'ph1': 8202.65, 'ph2': 8400.49, 'ph3': 8454.6},\n {'ph1': 7203.24, 'ph2': 7278.04, 'ph3': 7457.57},\n {'ph1': 5886.92, 'ph2': 5803.47, 'ph3': 5984.13},\n {'ph1': 8558.08, 'ph2': 8790.83, 'ph3': 8919.68},\n {'ph1': 8511.69, 'ph2': 8706.95, 'ph3': 8839.9},\n {'ph1': 8530.81, 'ph2': 8710.91, 'ph3': 8866.03},\n {'ph1': 8260.93, 'ph2': 8470.97, 'ph3': 8579.21},\n {'ph1': 8141.65, 'ph2': 8284.61, 'ph3': 8419.45},\n {'ph1': 8730.02, 'ph2': 8921.48, 'ph3': 9049.84},\n {'ph1': 8554.24, 'ph2': 8761.37, 'ph3': 8877.61},\n {'ph1': 8690.38, 'ph2': 8855.86, 'ph3': 8971.66},\n {'ph1': 5813.48, 'ph2': 5799.08, 'ph3': 5911.12},\n {'ph1': 7438.02, 'ph2': 7556.33, 'ph3': 7700.55},\n {'ph1': 8772.36, 'ph2': 8951.92, 'ph3': 9087.21},\n {'ph1': 8604.66, 'ph2': 8790.89, 'ph3': 8934.97},\n {'ph1': 8750.2, 'ph2': 8930.63, 'ph3': 9066.4},\n {'ph1': 6958.79, 'ph2': 7005.34, 'ph3': 7132.38},\n {'ph1': 6373.35, 'ph2': 6477.26, 'ph3': 6645.17},\n {'ph1': 8778.71, 'ph2': 8955.66, 'ph3': 9123.88},\n {'ph1': 8689.96, 'ph2': 8864.48, 'ph3': 9023.41},\n {'ph1': 8747.75, 'ph2': 8927.68, 'ph3': 9090.43},\n {'ph1': 7827.42, 'ph2': 7956.46, 'ph3': 8081.13},\n {'ph1': 8537.79, 'ph2': 8723.56, 'ph3': 8890.03},\n {'ph1': 8760.77, 'ph2': 8937.42, 'ph3': 9106.43},\n {'ph1': 8703.62, 'ph2': 8866.6, 'ph3': 9059.8},\n {'ph1': 8706.8, 'ph2': 8864.32, 'ph3': 9053.39},\n {'ph1': 6067.67, 'ph2': 6043.39, 'ph3': 6238.9},\n {'ph1': 8505.36, 'ph2': 8671.67, 'ph3': 8816.32},\n {'ph1': 8726.06, 'ph2': 8896.63, 'ph3': 9081.47},\n {'ph1': 8700.25, 'ph2': 8912.72, 'ph3': 9107.79},\n {'ph1': 8672.2, 'ph2': 8854.01, 'ph3': 9014.35},\n {'ph1': 5946.3, 'ph2': 5917.11, 'ph3': 6056.54},\n {'ph1': 8093.08, 'ph2': 8174.7, 'ph3': 8401.46},\n {'ph1': 8658.25, 'ph2': 8875.83, 'ph3': 9011.36},\n {'ph1': 8701.11, 'ph2': 8914.49, 'ph3': 9048.07},\n {'ph1': 8671.3, 'ph2': 8874.96, 'ph3': 9042.34},\n {'ph1': 6892.82, 'ph2': 6906.15, 'ph3': 7060.43},\n {'ph1': 7074.97, 'ph2': 7116.62, 'ph3': 7339.77},\n {'ph1': 8694.18, 'ph2': 8884.51, 'ph3': 9037.26},\n {'ph1': 8746.8, 'ph2': 8943.09, 'ph3': 9095.06},\n {'ph1': 8773.84, 'ph2': 8950.91, 'ph3': 9117.96},\n {'ph1': 7719.17, 'ph2': 7798.61, 'ph3': 7956.06},\n {'ph1': 6329.4, 'ph2': 6342.38, 'ph3': 6609.08},\n {'ph1': 8719.65, 'ph2': 8898.4, 'ph3': 9002.39},\n {'ph1': 8768.12, 'ph2': 8965.97, 'ph3': 9099.44},\n {'ph1': 8243.55, 'ph2': 8423.17, 'ph3': 8557.2},\n {'ph1': 6210.44, 'ph2': 6107.13, 'ph3': 6307.01},\n {'ph1': 8467.96, 'ph2': 8638.33, 'ph3': 8784.58},\n {'ph1': 8742.03, 'ph2': 8909.86, 'ph3': 9063.4},\n {'ph1': 8726.46, 'ph2': 8885.56, 'ph3': 9070.5},\n {'ph1': 8699.19, 'ph2': 8863.19, 'ph3': 9001.84},\n {'ph1': 5757.79, 'ph2': 5703.27, 'ph3': 5927.22},\n {'ph1': 8333.18, 'ph2': 8525.39, 'ph3': 8646.41},\n {'ph1': 8965.29, 'ph2': 9109.2, 'ph3': 9286.69},\n {'ph1': 8801.72, 'ph2': 8975.69, 'ph3': 9136.58},\n {'ph1': 8976.55, 'ph2': 9146.38, 'ph3': 9328.1},\n {'ph1': 6258.21, 'ph2': 6257.65, 'ph3': 6437.76},\n {'ph1': 7605.33, 'ph2': 7698.04, 'ph3': 7888.43},\n {'ph1': 9794.21, 'ph2': 10002.1, 'ph3': 10157.3},\n {'ph1': 9641.43, 'ph2': 9839.89, 'ph3': 10025.7},\n {'ph1': 9228.58, 'ph2': 9406.79, 'ph3': 9592.74},\n {'ph1': 7760.94, 'ph2': 7862.19, 'ph3': 7995.49},\n {'ph1': 9120.03, 'ph2': 9320.29, 'ph3': 9487.32},\n {'ph1': 9251.08, 'ph2': 9439.82, 'ph3': 9608.82},\n {'ph1': 9110.26, 'ph2': 9305.69, 'ph3': 9468.54},\n {'ph1': 9171.24, 'ph2': 9371.36, 'ph3': 9524.64},\n {'ph1': 6123.85, 'ph2': 6166.98, 'ph3': 6391.0},\n {'ph1': 8835.58, 'ph2': 9034.64, 'ph3': 9214.08},\n {'ph1': 9065.99, 'ph2': 9292.45, 'ph3': 9441.27},\n {'ph1': 8994.42, 'ph2': 9216.6, 'ph3': 9345.91},\n {'ph1': 8924.68, 'ph2': 9144.04, 'ph3': 9287.15},\n {'ph1': 6295.78, 'ph2': 6309.64, 'ph3': 6498.48},\n {'ph1': 8595.86, 'ph2': 8824.54, 'ph3': 8917.43},\n {'ph1': 8909.88, 'ph2': 9150.02, 'ph3': 9269.22},\n {'ph1': 8839.95, 'ph2': 9053.35, 'ph3': 9190.86},\n {'ph1': 8795.56, 'ph2': 9001.07, 'ph3': 9127.17},\n { 'ph1': 8909.88, 'ph2': 9150.02, 'ph3': 9269.22 },\n { 'ph1': 8839.95, 'ph2': 9053.35, 'ph3': 9190.86 },\n { 'ph1': 8795.56, 'ph2': 9001.07, 'ph3': 9127.17 },\n {'ph1': 6178.75, 'ph2': 6168.91, 'ph3': 6303.34}]\n \nfor (var i = 0; i<data.length;i++){\n     msg.payload = data[i];\n     node.send(msg);\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 200,
    "wires": [["5b66cf73785125df"]]
  },
  {
    "id": "f1cb52eb32134533",
    "type": "inject",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "inject",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 150,
    "y": 200,
    "wires": [["908c3b7d79b75b33"]]
  },
  {
    "id": "5b66cf73785125df",
    "type": "delay",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "limit 1msg / 250ms",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "0.25",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 660,
    "y": 200,
    "wires": [["f9e0b82295360923"]]
  },
  {
    "id": "826b6d96c5e7083d",
    "type": "function",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "Data Storage class 0",
    "func": "var data = [{'ph1': 3039.28, 'ph2': 2948.89, 'ph3': 3135.12},\n {'ph1': 3010.98, 'ph2': 2921.0, 'ph3': 3109.07},\n {'ph1': 2995.08, 'ph2': 2917.66, 'ph3': 3105.48},\n {'ph1': 2953.1, 'ph2': 2878.52, 'ph3': 3069.58},\n {'ph1': 2931.39, 'ph2': 2850.21, 'ph3': 3038.82},\n {'ph1': 2904.72, 'ph2': 2821.39, 'ph3': 3023.78},\n {'ph1': 2833.61, 'ph2': 2758.01, 'ph3': 2951.07},\n {'ph1': 2793.15, 'ph2': 2701.33, 'ph3': 2896.27},\n {'ph1': 2788.84, 'ph2': 2709.12, 'ph3': 2904.18},\n {'ph1': 2806.7, 'ph2': 2711.47, 'ph3': 2902.86},\n {'ph1': 2895.47, 'ph2': 2797.85, 'ph3': 2997.78},\n {'ph1': 2892.27, 'ph2': 2804.02, 'ph3': 3006.15},\n {'ph1': 2907.44, 'ph2': 2814.76, 'ph3': 3023.74},\n {'ph1': 2932.5, 'ph2': 2847.01, 'ph3': 3045.72},\n {'ph1': 3633.43, 'ph2': 3544.29, 'ph3': 3760.33},\n {'ph1': 3454.47, 'ph2': 3383.53, 'ph3': 3576.67},\n {'ph1': 3175.16, 'ph2': 3082.95, 'ph3': 3275.7},\n {'ph1': 3113.69, 'ph2': 3032.74, 'ph3': 3226.45},\n {'ph1': 3103.45, 'ph2': 3027.29, 'ph3': 3225.33},\n {'ph1': 3100.03, 'ph2': 3024.87, 'ph3': 3203.9},\n {'ph1': 3077.14, 'ph2': 2995.12, 'ph3': 3187.9},\n {'ph1': 3050.74, 'ph2': 2971.6, 'ph3': 3162.75},\n {'ph1': 3019.42, 'ph2': 2934.9, 'ph3': 3124.64},\n {'ph1': 3001.74, 'ph2': 2925.02, 'ph3': 3112.61},\n {'ph1': 2990.15, 'ph2': 2910.88, 'ph3': 3093.89},\n {'ph1': 2952.17, 'ph2': 2884.07, 'ph3': 3067.03},\n {'ph1': 2934.41, 'ph2': 2862.15, 'ph3': 3042.66},\n {'ph1': 2885.51, 'ph2': 2816.25, 'ph3': 2993.65},\n {'ph1': 2866.11, 'ph2': 2804.18, 'ph3': 2974.15},\n {'ph1': 2864.44, 'ph2': 2786.52, 'ph3': 2966.72},\n {'ph1': 2840.34, 'ph2': 2762.23, 'ph3': 2940.19},\n {'ph1': 2819.48, 'ph2': 2742.85, 'ph3': 2923.17},\n {'ph1': 2800.6, 'ph2': 2723.14, 'ph3': 2894.49},\n {'ph1': 2784.03, 'ph2': 2711.15, 'ph3': 2888.67},\n {'ph1': 2565.37, 'ph2': 2470.98, 'ph3': 2652.02},\n {'ph1': 2557.72, 'ph2': 2458.34, 'ph3': 2654.92},\n {'ph1': 2533.69, 'ph2': 2454.56, 'ph3': 2632.3},\n {'ph1': 2530.97, 'ph2': 2443.15, 'ph3': 2630.93},\n {'ph1': 2512.07, 'ph2': 2433.08, 'ph3': 2612.74},\n {'ph1': 2506.93, 'ph2': 2426.16, 'ph3': 2607.76},\n {'ph1': 2515.7, 'ph2': 2434.53, 'ph3': 2613.74},\n {'ph1': 2514.8, 'ph2': 2436.38, 'ph3': 2612.35},\n {'ph1': 2521.45, 'ph2': 2439.45, 'ph3': 2611.33},\n {'ph1': 2514.26, 'ph2': 2428.7, 'ph3': 2608.06},\n {'ph1': 2515.49, 'ph2': 2436.84, 'ph3': 2611.65},\n {'ph1': 2524.51, 'ph2': 2445.23, 'ph3': 2628.8},\n {'ph1': 2535.96, 'ph2': 2450.57, 'ph3': 2634.55},\n {'ph1': 2528.84, 'ph2': 2447.51, 'ph3': 2619.47},\n {'ph1': 2524.1, 'ph2': 2440.95, 'ph3': 2625.78},\n {'ph1': 2520.17, 'ph2': 2440.97, 'ph3': 2620.88},\n {'ph1': 2529.58, 'ph2': 2448.38, 'ph3': 2624.87},\n {'ph1': 2537.64, 'ph2': 2459.31, 'ph3': 2625.95},\n {'ph1': 2535.84, 'ph2': 2460.88, 'ph3': 2635.43},\n {'ph1': 2541.22, 'ph2': 2463.23, 'ph3': 2642.68},\n {'ph1': 2536.32, 'ph2': 2454.37, 'ph3': 2632.21},\n {'ph1': 2540.78, 'ph2': 2449.63, 'ph3': 2633.91},\n {'ph1': 2542.82, 'ph2': 2473.66, 'ph3': 2651.6},\n {'ph1': 2553.81, 'ph2': 2475.32, 'ph3': 2649.52},\n {'ph1': 2551.16, 'ph2': 2473.76, 'ph3': 2645.55},\n {'ph1': 2545.98, 'ph2': 2463.38, 'ph3': 2647.84},\n {'ph1': 2550.69, 'ph2': 2477.85, 'ph3': 2658.6},\n {'ph1': 2563.4, 'ph2': 2476.01, 'ph3': 2665.21},\n {'ph1': 2574.2, 'ph2': 2499.47, 'ph3': 2682.12},\n {'ph1': 2569.13, 'ph2': 2495.27, 'ph3': 2682.79},\n {'ph1': 2576.08, 'ph2': 2504.05, 'ph3': 2681.22},\n {'ph1': 2565.43, 'ph2': 2491.13, 'ph3': 2677.91},\n {'ph1': 2564.44, 'ph2': 2492.59, 'ph3': 2679.11},\n {'ph1': 2576.46, 'ph2': 2509.3, 'ph3': 2691.5},\n {'ph1': 2588.86, 'ph2': 2518.46, 'ph3': 2700.55},\n {'ph1': 2593.16, 'ph2': 2505.49, 'ph3': 2701.21},\n {'ph1': 2575.32, 'ph2': 2507.4, 'ph3': 2692.54},\n {'ph1': 2581.37, 'ph2': 2513.55, 'ph3': 2696.07},\n {'ph1': 2601.66, 'ph2': 2514.56, 'ph3': 2707.95},\n {'ph1': 2609.34, 'ph2': 2531.51, 'ph3': 2715.53},\n {'ph1': 2606.72, 'ph2': 2529.8, 'ph3': 2717.03},\n {'ph1': 2609.95, 'ph2': 2531.18, 'ph3': 2715.81},\n {'ph1': 2602.56, 'ph2': 2523.24, 'ph3': 2717.18},\n {'ph1': 2601.73, 'ph2': 2529.6, 'ph3': 2709.97},\n {'ph1': 2614.07, 'ph2': 2535.77, 'ph3': 2725.48},\n {'ph1': 2623.45, 'ph2': 2551.21, 'ph3': 2728.7},\n {'ph1': 2612.9, 'ph2': 2545.15, 'ph3': 2730.21},\n {'ph1': 2612.11, 'ph2': 2529.44, 'ph3': 2721.04},\n {'ph1': 2612.96, 'ph2': 2533.76, 'ph3': 2721.11},\n {'ph1': 2615.23, 'ph2': 2554.7, 'ph3': 2738.91},\n {'ph1': 2622.6, 'ph2': 2555.06, 'ph3': 2743.02},\n {'ph1': 2622.97, 'ph2': 2556.64, 'ph3': 2744.31},\n {'ph1': 2612.8, 'ph2': 2539.56, 'ph3': 2729.38},\n {'ph1': 2619.28, 'ph2': 2538.5, 'ph3': 2727.51},\n {'ph1': 2620.62, 'ph2': 2536.88, 'ph3': 2735.42},\n {'ph1': 2619.67, 'ph2': 2552.89, 'ph3': 2742.56},\n {'ph1': 2629.0, 'ph2': 2548.31, 'ph3': 2742.79},\n {'ph1': 2624.78, 'ph2': 2550.95, 'ph3': 2741.97},\n {'ph1': 2617.51, 'ph2': 2547.52, 'ph3': 2737.13},\n {'ph1': 2630.15, 'ph2': 2554.73, 'ph3': 2748.12},\n {'ph1': 2731.69, 'ph2': 2657.41, 'ph3': 2846.6},\n {'ph1': 2734.1, 'ph2': 2667.0, 'ph3': 2859.01},\n {'ph1': 2740.17, 'ph2': 2657.66, 'ph3': 2848.88},\n {'ph1': 2732.0, 'ph2': 2654.67, 'ph3': 2848.06},\n {'ph1': 2751.87, 'ph2': 2684.69, 'ph3': 2883.46},\n {'ph1': 2774.77, 'ph2': 2697.59, 'ph3': 2887.05},\n {'ph1': 2700.81, 'ph2': 2626.98, 'ph3': 2820.36},\n {'ph1': 2717.42, 'ph2': 2646.53, 'ph3': 2836.28},\n {'ph1': 2735.61, 'ph2': 2661.74, 'ph3': 2844.83},\n {'ph1': 2750.47, 'ph2': 2672.53, 'ph3': 2866.12},\n {'ph1': 2753.0, 'ph2': 2684.49, 'ph3': 2871.61},\n {'ph1': 2767.32, 'ph2': 2690.8, 'ph3': 2887.29},\n {'ph1': 2780.09, 'ph2': 2707.28, 'ph3': 2899.22},\n {'ph1': 2785.23, 'ph2': 2699.23, 'ph3': 2889.19},\n {'ph1': 2767.17, 'ph2': 2693.11, 'ph3': 2886.56},\n {'ph1': 2764.24, 'ph2': 2692.09, 'ph3': 2870.81},\n {'ph1': 2780.18, 'ph2': 2705.71, 'ph3': 2884.22},\n {'ph1': 2782.59, 'ph2': 2713.49, 'ph3': 2901.15},\n {'ph1': 2783.22, 'ph2': 2712.57, 'ph3': 2899.21},\n {'ph1': 2775.53, 'ph2': 2703.87, 'ph3': 2890.54},\n {'ph1': 2776.09, 'ph2': 2706.25, 'ph3': 2896.04},\n {'ph1': 2780.25, 'ph2': 2716.85, 'ph3': 2894.39},\n {'ph1': 2793.14, 'ph2': 2717.4, 'ph3': 2906.22},\n {'ph1': 2797.05, 'ph2': 2724.82, 'ph3': 2899.96},\n {'ph1': 2801.68, 'ph2': 2730.05, 'ph3': 2919.15},\n {'ph1': 2792.92, 'ph2': 2710.12, 'ph3': 2907.51},\n {'ph1': 2793.6, 'ph2': 2717.12, 'ph3': 2901.7},\n {'ph1': 2800.25, 'ph2': 2721.0, 'ph3': 2911.34},\n {'ph1': 2811.91, 'ph2': 2736.43, 'ph3': 2933.88},\n {'ph1': 2820.14, 'ph2': 2735.25, 'ph3': 2925.65},\n {'ph1': 2817.32, 'ph2': 2735.24, 'ph3': 2930.36},\n {'ph1': 2807.28, 'ph2': 2723.8, 'ph3': 2918.87},\n {'ph1': 2814.56, 'ph2': 2737.59, 'ph3': 2931.16},\n {'ph1': 2827.44, 'ph2': 2748.5, 'ph3': 2946.94},\n {'ph1': 2836.24, 'ph2': 2752.06, 'ph3': 2941.46},\n {'ph1': 2823.09, 'ph2': 2752.27, 'ph3': 2943.01},\n {'ph1': 2835.19, 'ph2': 2748.22, 'ph3': 2941.03},\n {'ph1': 2837.81, 'ph2': 2742.73, 'ph3': 2937.93},\n {'ph1': 2837.81, 'ph2': 2742.73, 'ph3': 2937.93},\n {'ph1': 2834.82, 'ph2': 2752.88, 'ph3': 2944.26},\n {'ph1': 2847.65, 'ph2': 2775.26, 'ph3': 2965.78},\n {'ph1': 2851.57, 'ph2': 2761.76, 'ph3': 2956.68},\n {'ph1': 2845.68, 'ph2': 2760.12, 'ph3': 2953.27},\n {'ph1': 2841.21, 'ph2': 2752.51, 'ph3': 2941.77},\n {'ph1': 2847.51, 'ph2': 2766.75, 'ph3': 2951.27},\n {'ph1': 2863.6, 'ph2': 2782.26, 'ph3': 2964.5},\n {'ph1': 2868.48, 'ph2': 2779.87, 'ph3': 2969.75},\n {'ph1': 2864.76, 'ph2': 2783.96, 'ph3': 2966.87},\n {'ph1': 2857.02, 'ph2': 2781.15, 'ph3': 2972.18},\n {'ph1': 2865.28, 'ph2': 2779.27, 'ph3': 2969.63},\n {'ph1': 2875.04, 'ph2': 2788.6, 'ph3': 2970.93},\n {'ph1': 2881.54, 'ph2': 2791.98, 'ph3': 2984.81},\n {'ph1': 2885.93, 'ph2': 2795.96, 'ph3': 2982.3},\n {'ph1': 3526.1, 'ph2': 3470.36, 'ph3': 3626.47},\n {'ph1': 3348.66, 'ph2': 3293.24, 'ph3': 3471.95},\n {'ph1': 3150.42, 'ph2': 3067.03, 'ph3': 3247.58},\n {'ph1': 3092.48, 'ph2': 3023.66, 'ph3': 3206.9},\n {'ph1': 3044.98, 'ph2': 2978.48, 'ph3': 3156.69},\n {'ph1': 3026.77, 'ph2': 2951.74, 'ph3': 3130.96},\n {'ph1': 2992.04, 'ph2': 2928.77, 'ph3': 3101.89},\n {'ph1': 2984.17, 'ph2': 2902.75, 'ph3': 3080.23},\n {'ph1': 2942.71, 'ph2': 2881.5, 'ph3': 3057.89},\n {'ph1': 2921.89, 'ph2': 2865.4, 'ph3': 3039.39},\n {'ph1': 2909.06, 'ph2': 2842.29, 'ph3': 3016.99},\n {'ph1': 2883.8, 'ph2': 2829.93, 'ph3': 2998.13},\n {'ph1': 2867.8, 'ph2': 2798.05, 'ph3': 2971.07},\n {'ph1': 2829.51, 'ph2': 2782.72, 'ph3': 2938.72},\n {'ph1': 2826.98, 'ph2': 2771.65, 'ph3': 2943.24},\n {'ph1': 2823.93, 'ph2': 2771.34, 'ph3': 2932.52},\n {'ph1': 2786.48, 'ph2': 2721.95, 'ph3': 2889.78},\n {'ph1': 2760.33, 'ph2': 2702.91, 'ph3': 2867.16},\n {'ph1': 2749.2, 'ph2': 2697.45, 'ph3': 2863.75},\n {'ph1': 2746.47, 'ph2': 2697.43, 'ph3': 2856.29},\n {'ph1': 2518.38, 'ph2': 2459.25, 'ph3': 2614.4},\n {'ph1': 2517.26, 'ph2': 2442.16, 'ph3': 2609.95},\n {'ph1': 2504.02, 'ph2': 2441.92, 'ph3': 2599.85},\n {'ph1': 2496.68, 'ph2': 2435.49, 'ph3': 2593.36},\n {'ph1': 2501.78, 'ph2': 2433.36, 'ph3': 2597.67},\n {'ph1': 2503.41, 'ph2': 2435.59, 'ph3': 2607.44},\n {'ph1': 2504.48, 'ph2': 2441.22, 'ph3': 2607.59},\n {'ph1': 2509.49, 'ph2': 2437.12, 'ph3': 2608.05},\n {'ph1': 2506.21, 'ph2': 2438.35, 'ph3': 2609.44},\n {'ph1': 2515.46, 'ph2': 2449.64, 'ph3': 2626.39},\n {'ph1': 2523.36, 'ph2': 2467.49, 'ph3': 2627.57},\n {'ph1': 2528.68, 'ph2': 2463.84, 'ph3': 2639.94},\n {'ph1': 2523.68, 'ph2': 2452.12, 'ph3': 2619.33},\n {'ph1': 2510.61, 'ph2': 2449.45, 'ph3': 2621.87},\n {'ph1': 2512.01, 'ph2': 2454.53, 'ph3': 2619.78},\n {'ph1': 2517.91, 'ph2': 2450.56, 'ph3': 2625.08},\n {'ph1': 2531.43, 'ph2': 2462.83, 'ph3': 2635.34},\n {'ph1': 2530.83, 'ph2': 2470.55, 'ph3': 2640.63},\n {'ph1': 2528.94, 'ph2': 2464.99, 'ph3': 2634.11},\n {'ph1': 2516.49, 'ph2': 2461.01, 'ph3': 2633.8},\n {'ph1': 2531.01, 'ph2': 2468.28, 'ph3': 2635.92},\n {'ph1': 2539.78, 'ph2': 2487.43, 'ph3': 2650.73},\n {'ph1': 2554.04, 'ph2': 2477.61, 'ph3': 2651.25},\n {'ph1': 2555.13, 'ph2': 2481.42, 'ph3': 2651.84},\n {'ph1': 2541.11, 'ph2': 2471.52, 'ph3': 2649.07},\n {'ph1': 2547.02, 'ph2': 2481.31, 'ph3': 2653.69},\n {'ph1': 2555.48, 'ph2': 2480.58, 'ph3': 2663.53},\n {'ph1': 2571.09, 'ph2': 2496.83, 'ph3': 2674.8},\n {'ph1': 2559.67, 'ph2': 2493.31, 'ph3': 2669.9},\n {'ph1': 2563.19, 'ph2': 2490.47, 'ph3': 2670.51},\n {'ph1': 2558.76, 'ph2': 2485.61, 'ph3': 2673.41},\n {'ph1': 2564.48, 'ph2': 2488.83, 'ph3': 2669.1},\n {'ph1': 2570.84, 'ph2': 2493.28, 'ph3': 2672.54},\n {'ph1': 2581.66, 'ph2': 2507.06, 'ph3': 2693.0},\n {'ph1': 2577.12, 'ph2': 2511.99, 'ph3': 2690.61},\n {'ph1': 2576.43, 'ph2': 2497.72, 'ph3': 2678.11},\n {'ph1': 2580.79, 'ph2': 2508.73, 'ph3': 2681.64},\n {'ph1': 2591.21, 'ph2': 2518.48, 'ph3': 2703.17},\n {'ph1': 2598.22, 'ph2': 2525.57, 'ph3': 2702.32},\n {'ph1': 2599.36, 'ph2': 2524.5, 'ph3': 2706.46},\n {'ph1': 2589.77, 'ph2': 2526.63, 'ph3': 2700.38},\n {'ph1': 2589.05, 'ph2': 2524.54, 'ph3': 2695.84},\n {'ph1': 2601.98, 'ph2': 2519.7, 'ph3': 2703.4},\n {'ph1': 2600.05, 'ph2': 2536.62, 'ph3': 2712.08},\n {'ph1': 2611.06, 'ph2': 2539.78, 'ph3': 2719.78},\n {'ph1': 2616.66, 'ph2': 2530.71, 'ph3': 2702.97},\n {'ph1': 2611.36, 'ph2': 2528.04, 'ph3': 2711.64},\n {'ph1': 2602.46, 'ph2': 2531.82, 'ph3': 2701.73},\n {'ph1': 2615.26, 'ph2': 2552.33, 'ph3': 2721.91},\n {'ph1': 2619.96, 'ph2': 2544.18, 'ph3': 2728.09},\n {'ph1': 2608.8, 'ph2': 2554.43, 'ph3': 2729.26},\n {'ph1': 2611.63, 'ph2': 2540.1, 'ph3': 2713.33},\n {'ph1': 2609.31, 'ph2': 2533.77, 'ph3': 2712.34},\n {'ph1': 2607.54, 'ph2': 2541.66, 'ph3': 2723.15},\n {'ph1': 2620.22, 'ph2': 2548.77, 'ph3': 2723.01},\n {'ph1': 2629.42, 'ph2': 2542.92, 'ph3': 2725.31},\n {'ph1': 2620.98, 'ph2': 2546.45, 'ph3': 2722.59},\n {'ph1': 2619.42, 'ph2': 2541.06, 'ph3': 2718.7},\n {'ph1': 2623.26, 'ph2': 2545.04, 'ph3': 2723.38},\n {'ph1': 2626.67, 'ph2': 2547.74, 'ph3': 2734.02},\n {'ph1': 2646.16, 'ph2': 2562.04, 'ph3': 2749.74},\n {'ph1': 2640.78, 'ph2': 2561.18, 'ph3': 2741.48},\n {'ph1': 2636.29, 'ph2': 2557.72, 'ph3': 2742.59},\n {'ph1': 2634.23, 'ph2': 2559.5, 'ph3': 2739.87},\n {'ph1': 2650.9, 'ph2': 2573.47, 'ph3': 2749.95},\n {'ph1': 2665.61, 'ph2': 2576.25, 'ph3': 2769.06},\n {'ph1': 2655.45, 'ph2': 2580.82, 'ph3': 2758.99},\n {'ph1': 2655.87, 'ph2': 2577.16, 'ph3': 2756.57},\n {'ph1': 2655.52, 'ph2': 2573.75, 'ph3': 2762.26},\n {'ph1': 2655.64, 'ph2': 2584.65, 'ph3': 2770.85},\n {'ph1': 2671.0, 'ph2': 2585.41, 'ph3': 2773.13},\n {'ph1': 2673.72, 'ph2': 2594.33, 'ph3': 2788.22},\n {'ph1': 2682.58, 'ph2': 2598.65, 'ph3': 2788.33},\n {'ph1': 2672.62, 'ph2': 2600.18, 'ph3': 2784.65},\n {'ph1': 2672.09, 'ph2': 2591.96, 'ph3': 2789.59},\n {'ph1': 2696.0, 'ph2': 2619.35, 'ph3': 2808.83},\n {'ph1': 2700.86, 'ph2': 2623.53, 'ph3': 2810.08},\n {'ph1': 2698.21, 'ph2': 2626.67, 'ph3': 2811.0},\n {'ph1': 2689.54, 'ph2': 2621.64, 'ph3': 2805.35},\n {'ph1': 2697.86, 'ph2': 2615.42, 'ph3': 2811.6},\n {'ph1': 2710.65, 'ph2': 2627.05, 'ph3': 2819.35},\n {'ph1': 2719.68, 'ph2': 2643.57, 'ph3': 2829.94},\n {'ph1': 2722.8, 'ph2': 2642.4, 'ph3': 2831.06},\n {'ph1': 2722.32, 'ph2': 2653.77, 'ph3': 2839.62},\n {'ph1': 2718.35, 'ph2': 2640.66, 'ph3': 2827.32},\n {'ph1': 2726.5, 'ph2': 2636.99, 'ph3': 2829.49},\n {'ph1': 2724.15, 'ph2': 2652.99, 'ph3': 2844.8},\n {'ph1': 2747.08, 'ph2': 2661.64, 'ph3': 2854.02},\n {'ph1': 2736.78, 'ph2': 2663.28, 'ph3': 2855.25},\n {'ph1': 2736.31, 'ph2': 2669.52, 'ph3': 2858.52},\n {'ph1': 2741.76, 'ph2': 2655.39, 'ph3': 2847.36},\n {'ph1': 2740.32, 'ph2': 2676.09, 'ph3': 2860.39},\n {'ph1': 2764.57, 'ph2': 2688.86, 'ph3': 2881.38},\n {'ph1': 2762.76, 'ph2': 2686.32, 'ph3': 2876.93},\n {'ph1': 2755.02, 'ph2': 2688.47, 'ph3': 2878.7},\n {'ph1': 2764.92, 'ph2': 2682.33, 'ph3': 2875.33},\n {'ph1': 2768.11, 'ph2': 2684.48, 'ph3': 2881.25},\n {'ph1': 2771.63, 'ph2': 2691.62, 'ph3': 2892.71},\n {'ph1': 2777.33, 'ph2': 2707.39, 'ph3': 2898.26},\n {'ph1': 2772.97, 'ph2': 2712.57, 'ph3': 2912.01},\n {'ph1': 2782.72, 'ph2': 2699.93, 'ph3': 2902.38},\n {'ph1': 2778.86, 'ph2': 2703.8, 'ph3': 2892.33},\n {'ph1': 2777.82, 'ph2': 2710.29, 'ph3': 2907.71},\n {'ph1': 2800.84, 'ph2': 2724.41, 'ph3': 2922.4},\n {'ph1': 2804.76, 'ph2': 2722.66, 'ph3': 2921.03},\n {'ph1': 2796.85, 'ph2': 2729.47, 'ph3': 2919.23},\n {'ph1': 2801.6, 'ph2': 2717.9, 'ph3': 2913.47},\n {'ph1': 2799.12, 'ph2': 2715.33, 'ph3': 2919.41},\n {'ph1': 2811.66, 'ph2': 2744.47, 'ph3': 2938.39},\n {'ph1': 2823.42, 'ph2': 2727.96, 'ph3': 2934.96},\n {'ph1': 2816.85, 'ph2': 2738.48, 'ph3': 2938.55},\n {'ph1': 2808.88, 'ph2': 2731.64, 'ph3': 2930.32},\n {'ph1': 2810.88, 'ph2': 2740.01, 'ph3': 2936.83},\n {'ph1': 2815.66, 'ph2': 2750.82, 'ph3': 2937.35},\n {'ph1': 2823.51, 'ph2': 2772.13, 'ph3': 2956.56},\n {'ph1': 2824.83, 'ph2': 2781.22, 'ph3': 2949.35},\n {'ph1': 2821.04, 'ph2': 2763.46, 'ph3': 2935.43},\n {'ph1': 2816.61, 'ph2': 2756.05, 'ph3': 2942.9},\n {'ph1': 2835.42, 'ph2': 2767.87, 'ph3': 2949.88},\n {'ph1': 2833.21, 'ph2': 2767.03, 'ph3': 2963.19},\n {'ph1': 2842.12, 'ph2': 2771.75, 'ph3': 2965.77},\n {'ph1': 2845.72, 'ph2': 2783.51, 'ph3': 2972.42},\n {'ph1': 2883.5, 'ph2': 2822.22, 'ph3': 2980.96},\n {'ph1': 2890.05, 'ph2': 2814.61, 'ph3': 2965.03},\n {'ph1': 2904.98, 'ph2': 2828.55, 'ph3': 2972.84},\n {'ph1': 2908.35, 'ph2': 2840.65, 'ph3': 2987.02},\n {'ph1': 2919.03, 'ph2': 2842.23, 'ph3': 2986.78},\n {'ph1': 2908.25, 'ph2': 2837.74, 'ph3': 2987.53},\n {'ph1': 2911.11, 'ph2': 2830.08, 'ph3': 2981.18},\n {'ph1': 2903.66, 'ph2': 2837.37, 'ph3': 2988.76},\n {'ph1': 2919.4, 'ph2': 2849.53, 'ph3': 2995.44},\n {'ph1': 3584.39, 'ph2': 3504.32, 'ph3': 3631.17},\n { 'ph1': 2903.66, 'ph2': 2837.37, 'ph3': 2988.76 },\n { 'ph1': 2919.4, 'ph2': 2849.53, 'ph3': 2995.44 },\n { 'ph1': 3584.39, 'ph2': 3504.32, 'ph3': 3631.17 },\n {'ph1': 3760.25, 'ph2': 3719.04, 'ph3': 3849.05}]\n \nfor (var i = 0; i<data.length;i++){\n     msg.payload = data[i];\n     node.send(msg);\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 80,
    "wires": [["5b66cf73785125df"]]
  },
  {
    "id": "d1c77cac79cea2cd",
    "type": "inject",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "inject",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 150,
    "y": 80,
    "wires": [["826b6d96c5e7083d"]]
  },
  {
    "id": "23838b43ed885909",
    "type": "function",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "Data Storage class 1",
    "func": "var data = [{'ph1': 8960.63, 'ph2': 9299.21, 'ph3': 9235.62},\n {'ph1': 8937.52, 'ph2': 9268.4, 'ph3': 9206.24},\n {'ph1': 8924.2, 'ph2': 9291.95, 'ph3': 9220.91},\n {'ph1': 8925.46, 'ph2': 9272.01, 'ph3': 9227.93},\n {'ph1': 8896.19, 'ph2': 9241.36, 'ph3': 9176.0},\n {'ph1': 8844.06, 'ph2': 9196.91, 'ph3': 9132.46},\n {'ph1': 8851.25, 'ph2': 9192.23, 'ph3': 9134.09},\n {'ph1': 8792.03, 'ph2': 9129.58, 'ph3': 9065.43},\n {'ph1': 8768.68, 'ph2': 9113.55, 'ph3': 9043.37},\n {'ph1': 8753.5, 'ph2': 9121.63, 'ph3': 9030.58},\n {'ph1': 8711.14, 'ph2': 9085.59, 'ph3': 9006.82},\n {'ph1': 8671.9, 'ph2': 9045.79, 'ph3': 8959.99},\n {'ph1': 8549.19, 'ph2': 8938.54, 'ph3': 8846.63},\n {'ph1': 8500.51, 'ph2': 8870.91, 'ph3': 8782.0},\n {'ph1': 8315.67, 'ph2': 8683.08, 'ph3': 8589.96},\n {'ph1': 8271.91, 'ph2': 8644.94, 'ph3': 8562.99},\n {'ph1': 8279.87, 'ph2': 8639.27, 'ph3': 8557.53},\n {'ph1': 8289.07, 'ph2': 8656.26, 'ph3': 8549.92},\n {'ph1': 8272.88, 'ph2': 8607.06, 'ph3': 8527.63},\n {'ph1': 8320.08, 'ph2': 8645.51, 'ph3': 8571.54},\n {'ph1': 8300.44, 'ph2': 8634.41, 'ph3': 8532.4},\n {'ph1': 8288.18, 'ph2': 8594.05, 'ph3': 8518.47},\n {'ph1': 8259.96, 'ph2': 8573.66, 'ph3': 8487.46},\n {'ph1': 8284.46, 'ph2': 8591.74, 'ph3': 8491.65},\n {'ph1': 8285.46, 'ph2': 8582.96, 'ph3': 8496.87},\n {'ph1': 8302.44, 'ph2': 8599.88, 'ph3': 8524.22},\n {'ph1': 8377.39, 'ph2': 8671.31, 'ph3': 8615.48},\n {'ph1': 8380.56, 'ph2': 8683.77, 'ph3': 8634.31},\n {'ph1': 8383.82, 'ph2': 8689.59, 'ph3': 8634.69},\n {'ph1': 8369.86, 'ph2': 8680.71, 'ph3': 8621.64},\n {'ph1': 8379.2, 'ph2': 8678.99, 'ph3': 8632.6},\n {'ph1': 8409.04, 'ph2': 8714.93, 'ph3': 8662.56},\n {'ph1': 8389.11, 'ph2': 8690.65, 'ph3': 8636.35},\n {'ph1': 8400.31, 'ph2': 8716.84, 'ph3': 8671.21},\n {'ph1': 8435.53, 'ph2': 8696.22, 'ph3': 8720.31},\n {'ph1': 8459.25, 'ph2': 8732.82, 'ph3': 8721.91},\n {'ph1': 8382.51, 'ph2': 8664.55, 'ph3': 8647.42},\n {'ph1': 8395.37, 'ph2': 8688.98, 'ph3': 8674.39},\n {'ph1': 8426.83, 'ph2': 8729.7, 'ph3': 8701.55},\n {'ph1': 8405.51, 'ph2': 8706.84, 'ph3': 8687.95},\n {'ph1': 8424.52, 'ph2': 8717.75, 'ph3': 8687.13},\n {'ph1': 8417.65, 'ph2': 8722.94, 'ph3': 8677.01},\n {'ph1': 8403.7, 'ph2': 8703.92, 'ph3': 8679.11},\n {'ph1': 8385.85, 'ph2': 8695.48, 'ph3': 8640.68},\n {'ph1': 8380.93, 'ph2': 8687.94, 'ph3': 8645.24},\n {'ph1': 8369.55, 'ph2': 8695.02, 'ph3': 8655.08},\n {'ph1': 8404.87, 'ph2': 8702.19, 'ph3': 8654.34},\n {'ph1': 8387.82, 'ph2': 8680.9, 'ph3': 8633.9},\n {'ph1': 8404.86, 'ph2': 8707.37, 'ph3': 8653.09},\n {'ph1': 8407.55, 'ph2': 8709.7, 'ph3': 8624.77},\n {'ph1': 8396.89, 'ph2': 8712.2, 'ph3': 8634.28},\n {'ph1': 8422.33, 'ph2': 8716.08, 'ph3': 8635.19},\n {'ph1': 8443.78, 'ph2': 8739.44, 'ph3': 8656.96},\n {'ph1': 8407.89, 'ph2': 8681.61, 'ph3': 8625.43},\n {'ph1': 8403.83, 'ph2': 8683.66, 'ph3': 8614.13},\n {'ph1': 8407.05, 'ph2': 8697.65, 'ph3': 8633.49},\n {'ph1': 8419.6, 'ph2': 8684.84, 'ph3': 8627.19},\n {'ph1': 8421.04, 'ph2': 8705.38, 'ph3': 8646.34},\n {'ph1': 8462.75, 'ph2': 8704.97, 'ph3': 8660.39},\n {'ph1': 8421.58, 'ph2': 8678.35, 'ph3': 8638.53},\n {'ph1': 8425.2, 'ph2': 8682.5, 'ph3': 8636.47},\n {'ph1': 8435.41, 'ph2': 8688.2, 'ph3': 8638.06},\n {'ph1': 8418.01, 'ph2': 8696.96, 'ph3': 8644.21},\n {'ph1': 8410.37, 'ph2': 8669.96, 'ph3': 8627.67},\n {'ph1': 8391.35, 'ph2': 8657.33, 'ph3': 8629.3},\n {'ph1': 8424.42, 'ph2': 8667.84, 'ph3': 8650.47},\n {'ph1': 8449.99, 'ph2': 8735.3, 'ph3': 8686.51},\n {'ph1': 8440.31, 'ph2': 8735.84, 'ph3': 8691.51},\n {'ph1': 8465.57, 'ph2': 8761.21, 'ph3': 8721.39},\n {'ph1': 8530.77, 'ph2': 8822.29, 'ph3': 8787.76},\n {'ph1': 8529.46, 'ph2': 8813.01, 'ph3': 8777.07},\n {'ph1': 8611.34, 'ph2': 8891.02, 'ph3': 8841.48},\n {'ph1': 8583.58, 'ph2': 8864.79, 'ph3': 8828.77},\n {'ph1': 8577.72, 'ph2': 8861.61, 'ph3': 8831.21},\n {'ph1': 8582.31, 'ph2': 8891.92, 'ph3': 8857.28},\n {'ph1': 8597.17, 'ph2': 8913.23, 'ph3': 8871.86},\n {'ph1': 8649.19, 'ph2': 8951.78, 'ph3': 8907.8},\n {'ph1': 8678.21, 'ph2': 8989.93, 'ph3': 8940.65},\n {'ph1': 9523.68, 'ph2': 9904.03, 'ph3': 9833.54},\n {'ph1': 9231.86, 'ph2': 9542.08, 'ph3': 9480.04},\n {'ph1': 8922.25, 'ph2': 9228.47, 'ph3': 9177.97},\n {'ph1': 8873.02, 'ph2': 9167.49, 'ph3': 9114.59},\n {'ph1': 8872.03, 'ph2': 9168.44, 'ph3': 9101.96},\n {'ph1': 8803.69, 'ph2': 9106.3, 'ph3': 9023.05},\n {'ph1': 8786.73, 'ph2': 9076.15, 'ph3': 9008.54},\n {'ph1': 8761.78, 'ph2': 9066.48, 'ph3': 9006.52},\n {'ph1': 8752.96, 'ph2': 9053.53, 'ph3': 8986.97},\n {'ph1': 8736.99, 'ph2': 9036.85, 'ph3': 8973.21},\n {'ph1': 8692.59, 'ph2': 9024.57, 'ph3': 8955.19},\n {'ph1': 8673.83, 'ph2': 8956.53, 'ph3': 8912.15},\n {'ph1': 8636.55, 'ph2': 8945.11, 'ph3': 8875.82},\n {'ph1': 8634.36, 'ph2': 8941.92, 'ph3': 8888.08},\n {'ph1': 8798.37, 'ph2': 9115.53, 'ph3': 9026.17},\n {'ph1': 8679.48, 'ph2': 8993.65, 'ph3': 8946.71},\n {'ph1': 8636.22, 'ph2': 8970.62, 'ph3': 8897.42},\n {'ph1': 8620.55, 'ph2': 8961.09, 'ph3': 8907.33},\n {'ph1': 8602.17, 'ph2': 8935.83, 'ph3': 8882.46},\n {'ph1': 8619.12, 'ph2': 8938.53, 'ph3': 8878.83},\n {'ph1': 8506.75, 'ph2': 8856.1, 'ph3': 8796.72},\n {'ph1': 8369.38, 'ph2': 8692.25, 'ph3': 8648.29},\n {'ph1': 8335.58, 'ph2': 8656.15, 'ph3': 8602.82},\n {'ph1': 8344.92, 'ph2': 8684.62, 'ph3': 8605.03},\n {'ph1': 8350.66, 'ph2': 8670.77, 'ph3': 8606.74},\n {'ph1': 8343.08, 'ph2': 8684.32, 'ph3': 8615.06},\n {'ph1': 8334.98, 'ph2': 8671.41, 'ph3': 8599.82},\n {'ph1': 8334.34, 'ph2': 8670.17, 'ph3': 8580.28},\n {'ph1': 8357.83, 'ph2': 8718.46, 'ph3': 8625.28},\n {'ph1': 8397.47, 'ph2': 8734.48, 'ph3': 8650.12},\n {'ph1': 8380.42, 'ph2': 8726.61, 'ph3': 8646.97},\n {'ph1': 8407.88, 'ph2': 8730.94, 'ph3': 8636.25},\n {'ph1': 8471.13, 'ph2': 8794.51, 'ph3': 8694.38},\n {'ph1': 8474.53, 'ph2': 8807.75, 'ph3': 8715.47},\n {'ph1': 8466.59, 'ph2': 8780.18, 'ph3': 8685.1},\n {'ph1': 8472.43, 'ph2': 8797.31, 'ph3': 8701.49},\n {'ph1': 8461.76, 'ph2': 8768.81, 'ph3': 8704.81},\n {'ph1': 8467.38, 'ph2': 8774.69, 'ph3': 8721.8},\n {'ph1': 8499.26, 'ph2': 8792.88, 'ph3': 8734.06},\n {'ph1': 8505.68, 'ph2': 8809.17, 'ph3': 8757.18},\n {'ph1': 8536.77, 'ph2': 8847.05, 'ph3': 8809.4},\n {'ph1': 8537.9, 'ph2': 8840.4, 'ph3': 8785.95},\n {'ph1': 8476.03, 'ph2': 8767.37, 'ph3': 8715.4},\n {'ph1': 8468.46, 'ph2': 8785.85, 'ph3': 8709.2},\n {'ph1': 8500.96, 'ph2': 8826.54, 'ph3': 8769.19},\n {'ph1': 8508.82, 'ph2': 8797.95, 'ph3': 8751.02},\n {'ph1': 8473.99, 'ph2': 8765.67, 'ph3': 8724.97},\n {'ph1': 8455.27, 'ph2': 8759.15, 'ph3': 8721.41},\n {'ph1': 8489.11, 'ph2': 8767.98, 'ph3': 8751.62},\n {'ph1': 8467.7, 'ph2': 8782.48, 'ph3': 8767.45},\n {'ph1': 8469.01, 'ph2': 8784.51, 'ph3': 8757.7},\n {'ph1': 8486.38, 'ph2': 8789.56, 'ph3': 8778.68},\n {'ph1': 8448.03, 'ph2': 8750.53, 'ph3': 8731.24},\n {'ph1': 8441.17, 'ph2': 8745.33, 'ph3': 8721.81},\n {'ph1': 8469.16, 'ph2': 8788.38, 'ph3': 8745.86},\n {'ph1': 8504.94, 'ph2': 8833.13, 'ph3': 8793.4},\n {'ph1': 8426.26, 'ph2': 8738.43, 'ph3': 8715.51},\n {'ph1': 8435.18, 'ph2': 8747.74, 'ph3': 8726.51},\n {'ph1': 8436.53, 'ph2': 8753.34, 'ph3': 8727.01},\n {'ph1': 8475.55, 'ph2': 8783.51, 'ph3': 8749.89},\n {'ph1': 8469.89, 'ph2': 8801.36, 'ph3': 8731.55},\n {'ph1': 8459.27, 'ph2': 8774.83, 'ph3': 8715.03},\n {'ph1': 8465.64, 'ph2': 8793.37, 'ph3': 8718.18},\n {'ph1': 8495.68, 'ph2': 8811.85, 'ph3': 8757.37},\n {'ph1': 8494.13, 'ph2': 8807.89, 'ph3': 8738.06},\n {'ph1': 8493.2, 'ph2': 8813.1, 'ph3': 8755.65},\n {'ph1': 8468.63, 'ph2': 8808.67, 'ph3': 8717.38},\n {'ph1': 8475.87, 'ph2': 8795.96, 'ph3': 8731.09},\n {'ph1': 8488.43, 'ph2': 8803.49, 'ph3': 8746.27},\n {'ph1': 8490.5, 'ph2': 8818.1, 'ph3': 8752.48},\n {'ph1': 8492.58, 'ph2': 8810.76, 'ph3': 8740.89},\n {'ph1': 8505.21, 'ph2': 8830.93, 'ph3': 8777.85},\n {'ph1': 8510.11, 'ph2': 8810.79, 'ph3': 8766.64},\n {'ph1': 8499.28, 'ph2': 8795.87, 'ph3': 8737.32},\n {'ph1': 8548.64, 'ph2': 8851.7, 'ph3': 8807.05},\n {'ph1': 8644.18, 'ph2': 8953.1, 'ph3': 8931.72},\n {'ph1': 8625.87, 'ph2': 8924.96, 'ph3': 8908.73},\n {'ph1': 8592.57, 'ph2': 8888.19, 'ph3': 8881.45},\n {'ph1': 8614.36, 'ph2': 8936.93, 'ph3': 8915.87},\n {'ph1': 8667.08, 'ph2': 8982.88, 'ph3': 8977.68},\n {'ph1': 8714.98, 'ph2': 9054.88, 'ph3': 9050.76},\n {'ph1': 8728.64, 'ph2': 9062.02, 'ph3': 9039.86},\n {'ph1': 8747.41, 'ph2': 9086.78, 'ph3': 9074.69},\n {'ph1': 8743.58, 'ph2': 9074.7, 'ph3': 9074.9},\n {'ph1': 9569.63, 'ph2': 9946.9, 'ph3': 9912.19},\n {'ph1': 9228.53, 'ph2': 9593.29, 'ph3': 9556.46},\n {'ph1': 8998.79, 'ph2': 9355.67, 'ph3': 9326.41},\n {'ph1': 8891.96, 'ph2': 9250.08, 'ph3': 9215.25},\n {'ph1': 8868.57, 'ph2': 9215.01, 'ph3': 9182.41},\n {'ph1': 8860.98, 'ph2': 9232.38, 'ph3': 9184.54},\n {'ph1': 8890.49, 'ph2': 9239.86, 'ph3': 9200.1},\n {'ph1': 8838.24, 'ph2': 9235.24, 'ph3': 9162.95},\n {'ph1': 8802.89, 'ph2': 9177.47, 'ph3': 9103.04},\n {'ph1': 8770.35, 'ph2': 9163.59, 'ph3': 9077.48},\n {'ph1': 8744.36, 'ph2': 9106.15, 'ph3': 9039.85},\n {'ph1': 8710.3, 'ph2': 9066.74, 'ph3': 8995.6},\n {'ph1': 8710.87, 'ph2': 9068.51, 'ph3': 8992.75},\n {'ph1': 8675.56, 'ph2': 9029.54, 'ph3': 8953.4},\n {'ph1': 8634.47, 'ph2': 9011.12, 'ph3': 8930.09},\n {'ph1': 8636.09, 'ph2': 8981.04, 'ph3': 8903.18},\n {'ph1': 8611.89, 'ph2': 8976.66, 'ph3': 8884.98},\n {'ph1': 8622.84, 'ph2': 8978.18, 'ph3': 8911.51},\n {'ph1': 8593.77, 'ph2': 8960.77, 'ph3': 8901.88},\n {'ph1': 8482.32, 'ph2': 8845.63, 'ph3': 8778.85},\n {'ph1': 8321.31, 'ph2': 8668.98, 'ph3': 8598.88},\n {'ph1': 8358.06, 'ph2': 8701.63, 'ph3': 8651.37},\n {'ph1': 8362.35, 'ph2': 8705.42, 'ph3': 8650.06},\n {'ph1': 8337.07, 'ph2': 8676.43, 'ph3': 8625.58},\n {'ph1': 8343.99, 'ph2': 8703.38, 'ph3': 8624.48},\n {'ph1': 8326.77, 'ph2': 8686.8, 'ph3': 8621.52},\n {'ph1': 8297.49, 'ph2': 8667.78, 'ph3': 8594.15},\n {'ph1': 8312.38, 'ph2': 8668.09, 'ph3': 8599.69},\n {'ph1': 8340.28, 'ph2': 8692.56, 'ph3': 8632.1},\n {'ph1': 8372.61, 'ph2': 8718.32, 'ph3': 8673.23},\n {'ph1': 8351.02, 'ph2': 8721.26, 'ph3': 8648.78},\n {'ph1': 8318.48, 'ph2': 8698.56, 'ph3': 8617.0},\n {'ph1': 8395.63, 'ph2': 8808.78, 'ph3': 8694.36},\n {'ph1': 8463.98, 'ph2': 8829.37, 'ph3': 8767.53},\n {'ph1': 8444.39, 'ph2': 8816.97, 'ph3': 8742.18},\n {'ph1': 8425.72, 'ph2': 8782.7, 'ph3': 8719.6},\n {'ph1': 8412.29, 'ph2': 8789.41, 'ph3': 8710.09},\n {'ph1': 8407.7, 'ph2': 8799.7, 'ph3': 8715.58},\n {'ph1': 8438.2, 'ph2': 8825.9, 'ph3': 8750.74},\n {'ph1': 8481.24, 'ph2': 8866.63, 'ph3': 8781.0},\n {'ph1': 8479.38, 'ph2': 8882.33, 'ph3': 8788.77},\n {'ph1': 8511.46, 'ph2': 8877.62, 'ph3': 8808.51},\n {'ph1': 8428.29, 'ph2': 8797.09, 'ph3': 8733.28},\n {'ph1': 8448.41, 'ph2': 8810.52, 'ph3': 8749.34},\n {'ph1': 8452.46, 'ph2': 8812.61, 'ph3': 8758.71},\n {'ph1': 8493.3, 'ph2': 8854.55, 'ph3': 8791.59},\n {'ph1': 8491.39, 'ph2': 8848.44, 'ph3': 8790.74},\n {'ph1': 8449.3, 'ph2': 8820.72, 'ph3': 8744.35},\n {'ph1': 8433.27, 'ph2': 8810.7, 'ph3': 8726.2},\n {'ph1': 8449.01, 'ph2': 8805.53, 'ph3': 8730.65},\n {'ph1': 8466.7, 'ph2': 8829.16, 'ph3': 8758.94},\n {'ph1': 8488.37, 'ph2': 8855.44, 'ph3': 8772.77},\n {'ph1': 6831.4, 'ph2': 7074.28, 'ph3': 7065.83},\n {'ph1': 4646.76, 'ph2': 4588.46, 'ph3': 4659.88},\n {'ph1': 5715.39, 'ph2': 5583.15, 'ph3': 5693.98},\n {'ph1': 4847.86, 'ph2': 4786.23, 'ph3': 4876.23},\n {'ph1': 4970.89, 'ph2': 4881.68, 'ph3': 4972.26},\n {'ph1': 4626.72, 'ph2': 4567.35, 'ph3': 4629.21},\n {'ph1': 4678.9, 'ph2': 4607.29, 'ph3': 4673.03},\n {'ph1': 4667.57, 'ph2': 4596.39, 'ph3': 4665.98},\n {'ph1': 4684.86, 'ph2': 4609.61, 'ph3': 4706.6},\n {'ph1': 4698.95, 'ph2': 4630.02, 'ph3': 4718.96},\n {'ph1': 4693.32, 'ph2': 4625.35, 'ph3': 4713.57},\n {'ph1': 4680.01, 'ph2': 4620.62, 'ph3': 4702.62},\n {'ph1': 4684.14, 'ph2': 4654.68, 'ph3': 4721.53},\n {'ph1': 4685.97, 'ph2': 4638.98, 'ph3': 4727.69},\n {'ph1': 4681.17, 'ph2': 4647.46, 'ph3': 4720.8},\n {'ph1': 4711.09, 'ph2': 4654.16, 'ph3': 4728.02},\n {'ph1': 4709.49, 'ph2': 4658.49, 'ph3': 4722.91},\n {'ph1': 4740.02, 'ph2': 4676.86, 'ph3': 4759.4},\n {'ph1': 4697.74, 'ph2': 4650.04, 'ph3': 4714.29},\n {'ph1': 4678.2, 'ph2': 4631.17, 'ph3': 4708.46},\n {'ph1': 4698.92, 'ph2': 4654.47, 'ph3': 4720.29},\n {'ph1': 4700.52, 'ph2': 4657.65, 'ph3': 4726.2},\n {'ph1': 4743.52, 'ph2': 4713.66, 'ph3': 4767.94},\n {'ph1': 4780.27, 'ph2': 4747.02, 'ph3': 4795.26},\n {'ph1': 5572.57, 'ph2': 5538.83, 'ph3': 5631.92},\n {'ph1': 4766.61, 'ph2': 4705.33, 'ph3': 4754.75},\n {'ph1': 4776.31, 'ph2': 4718.77, 'ph3': 4766.73},\n {'ph1': 4818.9, 'ph2': 4774.21, 'ph3': 4826.95},\n {'ph1': 4919.87, 'ph2': 4840.38, 'ph3': 4921.5},\n {'ph1': 4914.42, 'ph2': 4850.62, 'ph3': 4911.57},\n {'ph1': 4832.92, 'ph2': 4751.81, 'ph3': 4808.4},\n {'ph1': 4884.97, 'ph2': 4805.96, 'ph3': 4876.83},\n {'ph1': 4906.65, 'ph2': 4820.76, 'ph3': 4884.14},\n {'ph1': 4888.75, 'ph2': 4808.33, 'ph3': 4892.24},\n {'ph1': 4888.25, 'ph2': 4808.0, 'ph3': 4886.14},\n {'ph1': 5153.34, 'ph2': 5079.81, 'ph3': 5184.96},\n {'ph1': 5286.09, 'ph2': 5180.97, 'ph3': 5318.96},\n {'ph1': 5306.87, 'ph2': 5217.23, 'ph3': 5334.04},\n {'ph1': 5271.11, 'ph2': 5224.16, 'ph3': 5312.37},\n {'ph1': 5174.2, 'ph2': 5086.43, 'ph3': 5227.67},\n {'ph1': 6045.64, 'ph2': 5998.27, 'ph3': 6081.18},\n {'ph1': 5582.54, 'ph2': 5515.17, 'ph3': 5622.98},\n {'ph1': 5355.82, 'ph2': 5302.91, 'ph3': 5385.81},\n {'ph1': 5265.42, 'ph2': 5183.37, 'ph3': 5290.28},\n {'ph1': 5101.63, 'ph2': 5053.4, 'ph3': 5146.62},\n {'ph1': 5017.55, 'ph2': 4948.7, 'ph3': 5037.81},\n {'ph1': 4957.33, 'ph2': 4901.52, 'ph3': 4985.74},\n {'ph1': 4931.78, 'ph2': 4874.3, 'ph3': 4960.8},\n {'ph1': 4891.84, 'ph2': 4843.74, 'ph3': 4920.32},\n {'ph1': 4861.26, 'ph2': 4807.76, 'ph3': 4893.47},\n {'ph1': 4841.71, 'ph2': 4810.31, 'ph3': 4881.88},\n {'ph1': 4828.52, 'ph2': 4790.67, 'ph3': 4870.11},\n {'ph1': 4618.29, 'ph2': 4566.74, 'ph3': 4625.06},\n {'ph1': 4594.38, 'ph2': 4535.54, 'ph3': 4582.75},\n {'ph1': 4594.71, 'ph2': 4520.05, 'ph3': 4577.62},\n {'ph1': 4546.3, 'ph2': 4493.44, 'ph3': 4545.91},\n {'ph1': 4369.87, 'ph2': 4303.48, 'ph3': 4352.36},\n {'ph1': 4322.09, 'ph2': 4260.93, 'ph3': 4301.54},\n {'ph1': 4298.35, 'ph2': 4226.64, 'ph3': 4273.14},\n {'ph1': 4259.44, 'ph2': 4208.45, 'ph3': 4257.37},\n {'ph1': 4252.56, 'ph2': 4193.1, 'ph3': 4239.39},\n {'ph1': 4262.19, 'ph2': 4208.72, 'ph3': 4244.21},\n {'ph1': 4274.35, 'ph2': 4222.04, 'ph3': 4258.87},\n {'ph1': 4272.21, 'ph2': 4216.11, 'ph3': 4249.13},\n {'ph1': 4357.29, 'ph2': 4296.48, 'ph3': 4328.68},\n {'ph1': 4429.73, 'ph2': 4368.19, 'ph3': 4401.08},\n {'ph1': 4504.04, 'ph2': 4445.74, 'ph3': 4482.82},\n {'ph1': 4464.06, 'ph2': 4393.52, 'ph3': 4421.12},\n {'ph1': 4453.37, 'ph2': 4381.14, 'ph3': 4427.47},\n {'ph1': 4506.11, 'ph2': 4415.74, 'ph3': 4459.15},\n {'ph1': 4422.8, 'ph2': 4333.96, 'ph3': 4383.64},\n {'ph1': 4414.51, 'ph2': 4328.93, 'ph3': 4372.44},\n {'ph1': 4430.03, 'ph2': 4342.03, 'ph3': 4392.55},\n {'ph1': 4441.34, 'ph2': 4352.67, 'ph3': 4405.0},\n {'ph1': 4429.82, 'ph2': 4335.49, 'ph3': 4383.9},\n {'ph1': 4429.9, 'ph2': 4334.4, 'ph3': 4388.03},\n {'ph1': 4430.87, 'ph2': 4335.48, 'ph3': 4387.43},\n {'ph1': 4441.02, 'ph2': 4351.21, 'ph3': 4414.74},\n {'ph1': 4433.6, 'ph2': 4340.7, 'ph3': 4392.03},\n {'ph1': 4431.87, 'ph2': 4332.86, 'ph3': 4403.53},\n {'ph1': 4447.92, 'ph2': 4339.15, 'ph3': 4397.65},\n {'ph1': 4445.79, 'ph2': 4350.56, 'ph3': 4416.64},\n {'ph1': 4449.02, 'ph2': 4361.65, 'ph3': 4413.75},\n {'ph1': 4457.69, 'ph2': 4359.97, 'ph3': 4424.0},\n {'ph1': 4415.65, 'ph2': 4319.44, 'ph3': 4391.24},\n { 'ph1': 4449.02, 'ph2': 4361.65, 'ph3': 4413.75 },\n { 'ph1': 4457.69, 'ph2': 4359.97, 'ph3': 4424.0 },\n { 'ph1': 4415.65, 'ph2': 4319.44, 'ph3': 4391.24 },\n {'ph1': 4413.94, 'ph2': 4326.24, 'ph3': 4393.27}]\n \nfor (var i = 0; i<data.length;i++){\n     msg.payload = data[i];\n     node.send(msg);\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 140,
    "wires": [["5b66cf73785125df"]]
  },
  {
    "id": "daf8d72e1c4b64b6",
    "type": "inject",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "inject",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 150,
    "y": 140,
    "wires": [["23838b43ed885909"]]
  },
  {
    "id": "66d0e05542fc2d11",
    "type": "debug",
    "z": "553fea68bb710c28",
    "g": "a6e01c483b68b744",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1170,
    "y": 140,
    "wires": []
  },
  {
    "id": "fddeba77a2a32a81",
    "type": "debug",
    "z": "553fea68bb710c28",
    "g": "fdb44d79f11d7f3c",
    "name": "prediction.payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 340,
    "wires": []
  },
  {
    "id": "11223344",
    "type": "mqtt-broker",
    "name": "Databus",
    "broker": "ie-databus",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
